.icon-html { color: $sc-html; }
.icon-3-css { color: $sc-css; }
.icon-js {
  color: $sc-js;
  &:after {
    color: $black;
  }
}

.m-photo-album img {
  border: 5px solid $white;
  box-shadow: $global-box-shadow;

  transition: transform $transition-duration ease-in-out;
  border-radius: 100%;
  max-height: rem-calc(200);
  margin-bottom: rem-calc(20);

  &:hover {
    transform: scale(1.2);
  }
}

.m-about--social-list {
  @include inline-list;
  a {
    padding: rem-calc(5 10);
    border-bottom: 0;
  }
}
