.album {
  position: relative;
  z-index: 5;
  width: 250px;
  vertical-align: top;
  display:block;
}

.album img {
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid #f3f3f3;
  box-shadow: 1px 1px 2px #666;
  -webkit-box-shadow: 1px 1px 2px #666;
  -moz-box-shadow: 1px 1px 2px #666;
  width:250px;
  height:250px;
  display:block;
  transition: all .3s ease-in-out;
}

.album .photo1 {
  transform: rotate(-6deg) translate(-100px, -3px);
}

.album .photo2 {
  transform: rotate(0deg) translate(0, -3px);
}

.album .photo3 {
  transform: rotate(6deg) translate(100px, -3px);
}
