.icon-html { color: $sc-html; }
.icon-3-css { color: $sc-css; }

.m-photo-album {
  position: relative;
  z-index: 5;
  width: 250px;
  vertical-align: top;
  display:block;
}

.m-photo-album img {
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid $white;
  box-shadow: 1px 1px 2px rgba($black,0.8);
  width: rem-calc(250);
  height: rem-calc(250);
  display:block;
  @include x-transition(all $transition-duration ease-in-out);
}

.m-photo-album {
  &.is-hover {
    .photo1 {
      @include x-transform(rotate(-6deg) translate(-100px, -3px));
    }
    .photo2 {
      @include x-transform(rotate(0deg) translate(0, -3px));
    }
    .photo3 {
      @include x-transform(rotate(6deg) translate(100px, -3px));
    }
  }
}


figure {
  position: relative;

  img {
    max-width: 100%;
    display: block;
    position: relative;
  }

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: rem-calc(20);
    background: rgba($black,0.8);
    color: $magenta;

    h3 {
      color: $white-light;
      text-shadow: $text-shadow;
    }
  }
}

// now the animate feature
.cs-style-3 {

  figure {
    overflow: hidden;
  }

  figcaption {
    height: rem-calc(300);
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    @include x-transform(translateY(100%));
    @include x-transition(transform $transition-duration);
  }

}

.cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
  @include x-transform(translateY(-100%));
  @include x-transition(transform $transition-duration);
}

.cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
  opacity: 1;
  @include x-transform(translateY(0px));
  @include x-transition(transform $transition-duration);
}

.cs-style-3 figcaption a {
  position: absolute;
  bottom: rem-calc(10);
  right: rem-calc(40);
}
