.m-blog--post-list {
  @extend .no-bullet;

  li {
    margin-bottom: rem-calc(10);
  }
  a {
    border-bottom: 0;
  }
  time {
    margin: rem-calc(0 20 10 0);
    display: block;
  }
}

.m-post--link {
  font-size: 24px;
  color: $black;
  font-weight: $font-weight-normal;
  display: block;
  &:hover {
    background: transparent;
    color: $secondary-color;
  }
  &:visited {
    color: scale-color($gray-dark, $lightness: 50%);
  }
}

.m-blog--article {
  & > p:first-child {
    @include typl8-dropcap($typl8-dropcap-float-position,$typl8-dropcap-font-size,$typl8-dropcap-font-family,$typl8-dropcap-txt-indent,$typl8-dropcap-margin,$typl8-dropcap-padding,$typl8-dropcap-color,$typl8-dropcap-line-height,$typl8-dropcap-bg);
  }
}
