.m-blog--post-list {
  @extend .no-bullet;

  li {
    margin-bottom: rem-calc(10);
  }
  a {
    border-bottom: 0;
  }
  time {
    margin: rem-calc(0 20 10 0);
    display: block;
  }
}

.m-post--link {
  font-size: 24px;
  color: $black;
  font-weight: $font-weight-normal;
  display: block;
  &:hover {
    background: transparent;
    color: $secondary-color;
  }
}

.m-blog--article {
  & > p:first-child {
    @include dropcap($dropcap-float-position, $dropcap-font-size, $dropcap-font-family, $dropcap-txt-indent, $dropcap-margin, $dropcap-padding, $dropcap-color, $dropcap-line-height, $dropcap-bg);
  }
}
