$control-height: em-calc(60);

.m-control {
  z-index: 20;
  background-color: rgba($black-light, 0.8);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $control-height;

  a {
    color: $white-light;
    border-bottom: 0;
    &:hover {
      border-bottom: 1px solid $blue-steroid;
    }
  }
  .inline-list {
    margin-top: $inline-list-bottom-margin;
  }
}

.m-control--logo {
  margin-top: $inline-list-bottom-margin;
  display: block;
  border-bottom: 0 none;
  overflow: auto;

  &:hover {
    border: 0 none !important;

    .picto-triforce {
      @include use-sprite("triforce-hover", $pictos, $pictos-2x);
    }
  }

  span {
    margin: em-calc(8) 0 0 em-calc(15);
  }
}
