$footer-border: scale-color($black-light, $lightness: -60%);

.m-content {
  background-color: $body-bg;
  padding-bottom: rem-calc(40);
}

.m-footer {
  background-color: $black;
  padding: rem-calc(40 0);

  p {
    color: $black-light;
  }
  label {
    color: $white;
    margin-bottom: rem-calc(10);
  }
  a {
    color: $primary-color;
    border: none;
    &:hover {
      color: $blue-steroid;
    }
  }
  hr {
    border-color: $footer-border;
  }

  .side-nav {
    border-right: 1px solid $footer-border;
  }
}

p.m-footer--title {
  @extend .vador;
  margin-top: 0;
  color: $secondary-color;
}

.m-mailchimpemail {
  border-right: 0 !important;
}
