$footer-border: scale-color($gray-light, $lightness: -70%);

.m-content {
  padding-bottom: rem-calc(40);
}

.m-footer {
  background-color: $black;
  padding: rem-calc(40 0);
  position: relative;
  z-index: 90;

  p {
    color: $gray-light;
  }
  label {
    color: $white;
    margin-bottom: rem-calc(10);
  }
  a {
    border: none;
  }
  hr {
    border-color: $footer-border;
  }

  .side-nav {
    border-right: 1px solid $footer-border;
  }
}

p.m-footer--title {
  @extend .vador;
  margin-top: 0;
  color: $secondary-color;
}

.m-mailchimpemail {
  border-right: 0 !important;
}
