.m-content {
  position: relative;
  z-index: 10;
  background-color: $body-bg;
  margin-bottom: rem-calc(300);
  padding-bottom: rem-calc(40);
}

.m-footer {
  background-color: $black;
  position: fixed;
  bottom: 0;
  z-index: 9;
  width: 100%;

  p {
    color: $black-light;
  }
  label {
    color: $white;
    margin-bottom: rem-calc(10);
  }
  a {
    color: $primary-color;
    border: none;
    &:hover {
      color: $blue-steroid;
    }
  }
}

p.m-footer--title {
  @extend .vador;
  color: $secondary-color;
}

.m-mailchimpemail {
  border-right: 0 !important;
}
