.m-good-practice {
  .fa-thumbs-o-up {
    color: $success-color;
    & + span {
      color: $success-color;
    }
  }
  .fa-thumbs-o-down {
    color: $alert-color;
    & + span {
      color: $alert-color;
    }
  }

  .l-spacing {
    letter-spacing: rem-calc(1);
  }

  section {
    @include grid-row;
    article {
      @include grid-column($columns:12);
      @media #{$small}{
        @include grid-column($columns:8, $center:true);
      }
    }
    .l-title {
      @include clearfix;
    }
  }

}
