$header-height: 100;

.m-header {
  background-color: rgba($white, 0.9);
  position: fixed;
  transition: all $transition-duration ease;
  top: rem-calc(-$header-height);
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);

  width: 100%;
  z-index: 15;
  padding-top: rem-calc(20);

  &.is-hidden {
    transform: translateY(rem-calc(-$header-height));
  }
  &.is-show {
    top: 0;
    transform: translateY(0);
  }

  @media #{$small-only}{
    a {
      font-size: rem-calc(14);
      padding: rem-calc(10 15);
    }
  }
}
