.m-homepage {
  .l-illu {
    font-size: rem-calc(40);
    color: $primary-color;
    margin-bottom: rem-calc(20);
    & + h2 {
      margin-top: 0;
      margin-bottom: rem-calc(20);
    }
  }
  .fa-rounded {
    padding: rem-calc(20);
    color: $body-font-color;
    border: 2px dashed rgba($body-font-color, 0.2);
  }
}

.m-homepage--pdca {
  p {
    font-family: $header-font-family;
    font-size: rem-calc(22);
    display: block;
    @media #{$small}{
      line-height: rem-calc(40);
      margin: rem-calc(20);
    }
  }
  li:first-child {
    text-align: right;
    margin-top: rem-calc(100);
    @media #{$small}{
      margin-top: rem-calc(70);
    }
    p, i {
      float: right;
    }
  }
  li:last-child {
    text-align: left;
    margin-top: rem-calc(100);
    @media #{$small}{
      margin-top: rem-calc(70);
    }
    p, i {
      float: left;
    }
  }
}
