.m-hero-homepage {
  display: flex;
  position: relative;
  background: $banner-linear-bg;
  padding-bottom: $topbar-height;
  padding-top: $topbar-height;
  @media #{$medium} {
    padding-top: ($topbar-height * 2);
  }

  p,
  .title {
    @include typl8-hyphens(none);
    color: $white;
    text-shadow: 0px 1px 2px rgba($black ,0.6);
  }
  p {
    margin-bottom: rem-calc(40);
  }
  .title {
    letter-spacing: -2px;
    line-height: 0.75;
    font-size: rem-calc(65);
    margin-bottom: rem-calc(20);

    strong {
      font-family: $font-family-monospace;
      letter-spacing: -1px;
      font-size: 75%;
    }
    @media #{$small-only} {
      font-size: 40px;
    }
  }

  .l-content {
    z-index: 9;
    margin: 0 auto;
    min-width: 1320px;
    padding-left: rem-calc(20);
    padding-right: rem-calc(20);
    @media #{$small-only} {
      font-size: rem-calc(20);
      padding: rem-calc(20);
      min-width: inherit;
    }
  }

  .button-call-to-action {
    margin-left: rem-calc(30);
  }
}

.m-homepage {
  .icons-skills {
    max-width: 150px;
  }

  .l-illu {
    font-size: rem-calc(40);
    color: $primary-color;
    margin-bottom: rem-calc(20);
  }
  .fa-rounded {
    padding: rem-calc(20);
    color: $body-font-color;
    border: 2px dashed rgba($body-font-color, 0.2);
  }
}
