$masterhead-border: 5px solid $black;

.m-masterhead--nav {
  background-color: $black;
  ul {
    margin-bottom: 0;
    a {
      font-size: rem-calc(12);
      border-bottom: 0;
      color: $gray-dark;
      &:hover {
        color: $white-light;
      }
    }
  }
}

.m-masterhead--background {
  background-color: $black-lighter;
  margin-bottom: rem-calc(30);
  i {
    color: $white-light !important;
  }

  a {
    display: block;
    border-bottom: none;
    text-align: center;
    text-shadow: $text-shadow;
    padding-top: rem-calc(0);
    padding-bottom: rem-calc(20);
    &:hover {
    padding-top: rem-calc(20);
    padding-bottom: rem-calc(0);
    }
  }
}

.m-masterhead {
  font-size: rem-calc(40);
  text-align: center;
  font-weight: $font-weight-bolder;
  position: relative;
  color: $white-dark;
  text-shadow: $text-shadow;

  @media #{$small} {
    margin-top: rem-calc(80);
    margin-bottom: rem-calc(80);
    font-size: rem-calc(70);
    padding: rem-calc(40) rem-calc(60);
    &:before,
    &:after {
      position: absolute;
      top: 50%;
      margin-top: rem-calc(-40);
    }
    &:before {
      content: "\223C";
      left: 0em;
    }
    &:after {
      content: "\223D";
      right: 0em;
    }
  }
}

@keyframes movebg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1260px 0;
  }
}

.m-homepage .m-masterhead--background {
  animation: 35s linear 0s normal none infinite movebg;
  background: url("https://farm8.staticflickr.com/7109/13495318545_539563e8ee_o.jpg") repeat scroll 0 0;
}


@media only screen and (min-width: 960px) and (max-width: 970px) {
  body {
    transform : rotate(180deg);
  }
}
