$masterhead-border: 5px solid $black;

@keyframes bounce {
  0% {
    padding-top: rem-calc(0);
    padding-bottom: rem-calc(20);
  }
  50% {
    padding-bottom: rem-calc(0);
    padding-top: rem-calc(20);
  }
  100% {
    padding-top: rem-calc(0);
    padding-bottom: rem-calc(20);
  }
}

.m-masterhead {
  background-color: $black-lighter;
  margin-bottom: rem-calc(30);
  i {
    color: $white-light !important;
  }

  .l-icon {
    text-align: center;
    text-shadow: $text-shadow;
    padding-top: rem-calc(0);
    padding-bottom: rem-calc(20);
    font-size: rem-calc(32);
    opacity: 0.5;
    @media #{$small} {
      font-size: rem-calc(64);
    }
    // animation: 3s ease 0s normal none infinite bounce;
  }

  .l-title,
  .l-emphasis {
    text-align: center;
    color: $white-dark;
    text-shadow: $text-shadow;
    font-family: $header-font-family;
  }

  .l-title {
    font-size: rem-calc(40);
    font-weight: $font-weight-bolder;

    @media #{$small} {
      margin-top: rem-calc(40);
      // margin-bottom: rem-calc(20);
      font-size: rem-calc(70);
      padding: rem-calc(40) rem-calc(60);
    }
  }

  .l-emphasis {
    @media #{$small} {
      font-size: rem-calc(18);
    }
  }

}

@keyframes movebg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1260px 0;
  }
}

.m-homepage .m-masterhead {
  background: url("https://farm8.staticflickr.com/7109/13495318545_539563e8ee_o.jpg") repeat 0 0 $black-lighter;
  @media #{$small} {
    animation: 35s linear 0s normal none infinite movebg;
  }
}

.m-pricing .m-masterhead {
  position: relative;
  background: url("https://farm4.staticflickr.com/3905/14351019625_1a874c99fd_h.jpg") repeat center center $black-lighter;
  .l-title,
  .l-emphasis {
    background-color: rgba($white-light, 0.8);
    text-shadow: none;
    color: $black;
  }
}

.m-projects .m-masterhead {
  background: url("https://farm4.staticflickr.com/3904/14327833686_9f4b21b2cc_h.jpg") repeat 0 0 $black-lighter;
  background-size: cover;
}
