$m-panel-bg: rgba($white, 0.4);
$m-panel-bg-hover: rgba($white, 0.9);

.m-panel {
  @include panel($m-panel-bg);
  @include single-transition();

  p.button {
    color: $button-font-color;
  }

  border: 0 none;

  &:hover {
    background-color: $m-panel-bg-hover;
  }

  &.l-callout {
    border: 3px dashed $black-lighter;
    margin: rem-calc(60) 0 rem-calc(80);
    a {
      color: $magenta;
      &:hover {
        border-bottom-color: $magenta;
      }
    }
  }

  &.l-social {
    position: relative;
    overflow: hidden;

    i {
      @include single-transition(all, $transition-duration, ease);
      position: absolute;
      right: 20%;
      top: -100%;
      font-size: rem-calc(60);
      color: $primary-color;
      &.fa-google-plus { color: $sc-google-plus; }
      &.fa-twitter { color: $sc-twitter; }
      &.fa-github { color: $sc-github; }
      &.fa-gift { color: $sc-amazon; }
      &.fa-code { color: $sc-coderwall; }
      &.fa-eur { color: $sc-flattr; }
    }

    &:hover {
      i {
        top: 5%;
      }
    }
  }

}

.m-blog-panel {
  @include panel($black-light);
  @include single-transition();
  color: $white;

  .fa {
    font-size: rem-calc(20);
    margin-right: rem-calc(10);
  }

  a {
    border-bottom: 0;
  }

  &:hover {
    background-color: $black;
  }
}

.m-section {
  margin: rem-calc(60) 0 rem-calc(80);
  padding: rem-calc(40) 0;
}
