.m-masterhead {
  font-size: em-calc(70);
  line-height: em-calc(77);
  text-align: center;
  font-weight: $font-weight-bolder;
  padding: em-calc(40);
  margin: em-calc(20) 0 em-calc(30);
  border-top: 5px solid $black;
  border-bottom: 5px solid $black;
  position: relative;
  &:before,
  &:after {
    position: absolute;
    top: 50%;
    margin-top: em-calc(-40);
  }
  &:before {
    content: "\223C";
    left: 0em;
  }
  &:after {
    content: "\223D";
    right: 0em;
  }
}

h2 {
  font-family: "Droid Serif";
  font-size: em-calc(30);
  font-weight: $font-weight-normal;
  font-style: italic;
  color: $black-lighter;
  &:first-letter {
    text-transform: uppercase;
  }
}
