$masterhead-border: 5px solid $black;

.m-masterhead--background {
  background-color: $black-lighter;
  margin-bottom: rem-calc(40);
}

.m-masterhead {
  font-size: rem-calc(40);
  text-align: center;
  font-weight: $font-weight-bolder;
  position: relative;
  color: $white-dark;
  text-shadow: $text-shadow;
  @include x-transition(all $transition-duration ease-in-out);

  &.is-scrolling {
    font-size: rem-calc(25);
  }

  @media #{$small} {
    margin-top: rem-calc(80);
    margin-bottom: rem-calc(120);
    font-size: rem-calc(70);
    padding: rem-calc(40) rem-calc(60);
    &:before,
    &:after {
      position: absolute;
      top: 50%;
      margin-top: rem-calc(-40);
    }
    &:before {
      content: "\223C";
      left: 0em;
    }
    &:after {
      content: "\223D";
      right: 0em;
    }
    &.is-scrolling {
      font-size: rem-calc(30);
      padding: rem-calc(20) rem-calc(40);
      margin-top: rem-calc(20);
      margin-bottom: rem-calc(30);
    }
  }


}

h2 {
  font-family: "Droid Serif";
  font-size: rem-calc(30);
  font-weight: $font-weight-normal;
  font-style: italic;
  color: $black-lighter;
  &:first-letter {
    text-transform: uppercase;
  }
}

h3 {
  text-transform: uppercase;
  color: $black;
  font-weight: $font-weight-bold;
}

hr {
  &.border {
    border-top: $masterhead-border;
  }
}
