.m-go-top {
  text-align: center;
  margin-top: em-calc(60);
  margin-bottom: em-calc(60);
}

.m-footer {
  margin-bottom: $control-height;

  p {
    text-align: center;
    font-size: em-calc(13);
    margin-bottom:  em-calc(10);
  }
  a {
    color: $black-light;
  }
}

