Redirect permanent http://davidl.fr/books.html http://davidl.fr/learn/books.html
Redirect permanent http://davidl.fr/toolkit.html http://davidl.fr/dev/tools.html
Redirect permanent http://davidl.fr/typography.html http://davidl.fr/design/typography.html
Redirect permanent http://davidl.fr/webdesign.html http://davidl.fr/design/webdesign.html
Redirect permanent http://davidl.fr/lean/newsletter.html http://davidl.fr/learn/newsletter.html
Redirect permanent http://davidl.fr/plan-du-site.html http://davidl.fr/sitemap.html
Redirect permanent http://davidl.fr/projects.html http://github.com/flexbox/
Redirect permanent http://davidl.fr/sublime.html http://davidl.fr/dev/sublime.html
Redirect permanent http://davidl.fr/git.html http://davidl.fr/dev/git.html
Redirect permanent http://davidl.fr/formation.html http://davidl.fr/learn/formation.html
Redirect permanent http://davidl.fr/blog/scrumtalpick.html http://davidl.fr
Redirect permanent http://davidl.fr/setup.html http://davidl.fr/dev/setup.html
Redirect permanent http://davidl.fr/gitclub.html http://davidl.fr/dev/git.html
Redirect permanent http://davidl.fr/integrateur-web-lille.html http://weblille.rocks
Redirect permanent http://davidl.fr/meetups.html http://weblille.rocks
Redirect permanent http://davidl.fr/git http://davidl.fr/dev/git.html
Redirect permanent http://davidl.fr/consulting/index.html http://davidl.fr/workflow/work.html.slim
