$white      : #FFFFFF;
$black      : #1A1A1A;

$gray-light : #FFF9EB;
$gray       : #fbf3df;
$gray-dark  : #727272;

$blue:       #1C56FB;
$blue-light: #2196F3;
$blue-dark:  #11256C;

$pink:       #F53FC7;

// --
$foundation-palette: (
  primary:   $blue,
  secondary: $pink,
  success:   #259B24,
  warning:   #FF5722,
  alert:     #E51C23,
);
$light-gray:  #F2F2F2;
$medium-gray: #DEDEDE;
$dark-gray:   #3F3F44;
$black:       #111111;
// --

$primary-color:   $blue;
$secondary-color: $pink;


$sc-amazon      : #E47911;
$sc-twitter     : #00aced;
$sc-google-plus : #dd4b39;
$sc-github      : #333333;
$sc-html        : #F06529;
$sc-css         : #3399FF;
$sc-js          : #F0DB4F;



// Hover colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin color-hover($color, $color-hover) {
  color: $color;
  &:hover,
  &:focus {
    color: $color-hover;
  }
}
