$white      : #FFFFFF;
$black      : #1A1A1A;

$gray-light : #FAFAFA;
$gray       : #F1F1F1;
$gray-dark  : #727272;

$oil: #333333;

$blue:       #00BAD2;
$blue-light: #2196F3;
$pink:       #E91E63;



$primary-color:   $blue;
$secondary-color: $pink;

$alert-color:   #E51C23;
$success-color: #259B24;
$warning-color: #FF5722;
$info-color:    #03A9F4;



$sc-amazon      : #E47911;
$sc-twitter     : #00aced;
$sc-google-plus : #dd4b39;
$sc-github      : #333333;
$sc-html        : #F06529;
$sc-css         : #3399FF;
$sc-js          : #F0DB4F;
$sc-coderwall   : #398CCE;



// Hover colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin color-hover($color, $color-hover) {
  color: $color;
  &:hover,
  &:focus {
    color: $color-hover;
  }
}



.list-color {
  li {
    width: 5em;
    height: 5em;
    border: 5px solid $white;
    box-shadow: 0 1px 5px rgba($black, 0.8);
  }

  .blue { background-color: $blue; }
  .pink { background-color: $pink; }

  .primary  { background-color: $primary-color; }
  .secondary  { background-color: $secondary-color; }
}
