$white:      #ffffff;
$black:      #1a1a1a;

$gray-light: #fff9eb;
$gray:       #fbf3df;
$gray-blue:  #888fab;
$gray-dark:  #3f3f44;

$blue:       #1c56fb;
$blue-light: #2196f3;
$blue-dark:  #11256c;

$turquoise:  #24ccdf;
$pink:       #f53fc7;
$yellow:     #fff637;

$foundation-palette: (
  primary:   $blue,
  secondary: $pink,
  success:   #259b24,
  warning:   #ff5722,
  alert:     #e51c23,
);
$light-gray:  $gray-light;
$medium-gray: $gray;
$dark-gray:   $gray-dark;

$primary-color:   $blue;
$secondary-color: $pink;



// Hover colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

$color-amazon:       #e47911;
$color-twitter:      #1da1f2;
$color-facebook:     #3b5998;
$color-google-plus:  #dd4b39;
$color-github:       #333333;
$color-html:         #f06529;
$color-css:          #3399ff;
$color-js:           #f0db4f;



// Hover colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin color-hover($color, $color-hover) {
  color: $color;

  &:hover,
  &:focus {
    color: $color-hover;
  }
}
