$white:      #FFFFFF;
$black:      #1A1A1A;

$gray-light: #FFF9EB;
$gray:       #fbf3df;
$gray-blue:  #888FAB;
$gray-dark:  #3F3F44;

$blue:       #1C56FB;
$blue-light: #2196F3;
$blue-dark:  #11256C;

$turquoise:  #24CCDF;
$pink:       #F53FC7;
$yellow:     #FFF637;

$foundation-palette: (
  primary:   $blue,
  secondary: $pink,
  success:   #259B24,
  warning:   #FF5722,
  alert:     #E51C23,
);
$light-gray:  $gray-light;
$medium-gray: $gray;
$dark-gray:   $gray-dark;

$primary-color:   $blue;
$secondary-color: $pink;



// Hover colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

$color-amazon:       #E47911;
$color-twitter:      #00aced;
$color-google-plus:  #dd4b39;
$color-github:       #333333;
$color-html:         #F06529;
$color-css:          #3399FF;
$color-js:           #F0DB4F;



// Hover colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin color-hover($color, $color-hover) {
  color: $color;
  &:hover,
  &:focus {
    color: $color-hover;
  }
}
