.css-triforce,
.css-triforce:before,
.css-triforce:after {
  border: 0.5em solid;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: transparent;
  display: inline-block;
  height: 0;
  width: 0; }

.css-triforce {
  margin: 0.5em 0.8em 0 0;
  position: relative; }

.css-triforce:before,
.css-triforce:after {
  content: "";
  position: absolute; }

.css-triforce:before {
  left: 0;
  top: -0.5em; }

.css-triforce:after {
  left: 0.4em;
  top: 0; }
