// $BaseType
// -------------------------------------//

$typl8-font-family: $body-font-family;
$typl8-font-weight: $font-weight-light;



// $Paragraphs
// -------------------------------------//
// Controls paragraphs vertical whitespace
// for subsequent paragraphs.
//
// $typl8-paragraph-spacing             [<'false'> | <'true'>]

$typl8-paragraph-spacing: true;
$typl8-indent-val: rem-calc(16);



// $Color
// -------------------------------------//

$typl8-heading-color: $black;
$typl8-copy-color: $gray-dark;



// $DropCap
// -------------------------------------//

$typl8-dropcap-font-size: rem-calc(88);
$typl8-dropcap-margin: rem-calc(-10 0 0 -30);
$typl8-dropcap-padding: rem-calc(11);
$typl8-dropcap-color: $secondary-color;
