// b. Grid

$row-width: rem-calc(1200);



// c. Global

$font-family-sans-serif: 'Lato', Helvetica, Roboto, Arial, sans-serif;
$font-family-monospace: 'Ubuntu Mono', 'Monaco', monospace;

$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-bold:   700;

$body-bg: $gray-light;
$body-font-color: $gray-dark;
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-light;

$global-box-shadow: 0px 1px 1px rgba($black, 0.3);

// e. Typography

$header-font-weight: $font-weight-light;

$code-font-weight: $font-weight-bold;
$code-background-color: transparent;

$blockquote-border: 5px solid $secondary-color;
$blockquote-cite-font-size: rem-calc(20);
$blockquote-padding: rem-calc(20 40 20 40) !default;

$text-shadow: rgba($black,.4) 0px 2px 0px;
$transition-duration: 200ms;
$transition-style: ease-in-out;

// Forms

$input-font-family: $body-font-family;
$input-border-color: darken(#fff, 20%);
$input-focus-border-color: $primary-color;
$input-border-width: 2px;
$input-box-shadow: none;
$input-include-glowing-effect: false;
$form-label-font-size: rem-calc(16);
$form-label-small-transform: none;


// Panels

$include-html-panel-classes: false;

$panel-font-color: $body-font-color;



// Sub Nav

$sub-nav-font-size: rem-calc(16);
$sub-nav-border-radius: 0px;

$sub-nav-active-bg: $gray;
$sub-nav-active-color: $black;
$sub-nav-font-color-hover: $white;


// 17. Magellan
// - - - - - - - - - - - - - - - - - - - - - - - - -

$magellan-bg: $body-bg;
$magellan-padding: 0 !important;
