// $BaseType
// -------------------------------------//

$typl8-prefixes: -webkit-, -moz-, -ms-, '' !default;



// $Paragraphs
// -------------------------------------//
// Controls paragraphs vertical whitespace
// for subsequent paragraphs.
//
// $typl8-paragraph-spacing             [<'false'> | <'true'>]

$typl8-paragraph-spacing: true;
$typl8-indent-val: rem-calc(16);



// $Color
// -------------------------------------//

$typl8-heading-color: $header-color;
$typl8-copy-color: $body-font-color;



// $Ampersands
// -------------------------------------//

$typl8-amp-fontface: Ampersand;
$typl8-amp-fontfamily: Verdana, sans-serif;
$typl8-amp-src: local('Georgia'), local('Garamond'), local('Palatino'), local('Book Antiqua');
$typl8-amp-fallback: local('Georgia');



// $DropCap
// -------------------------------------//

$typl8-dropcap-font-size: rem-calc(88);
$typl8-dropcap-margin: rem-calc(-10 0 0 -30);
$typl8-dropcap-padding: rem-calc(11);
$typl8-dropcap-color: $secondary-color;
