$body-font-color    : $black-light;
$anchor-font-color  : $blue-steroid;
$code-color           : $magenta;
$text-shadow: rgba($black,0.8) 0px 2px 0px;

$transition-duration: 0.5s;

@mixin x-transition ($values) {
  -webkit-transition: $values;
  transition: $values;
}

@mixin x-transform ($values) {
  -webkit-transform: $values;
  -ms-transform: $values;
  transform: $values;
}

body {
  background-color: $white-dark;
  color: $gray-dark;
}

a {
  color: $anchor-font-color;
  font-weight: bold;
  padding: em-calc(2);
  border-bottom: 1px solid $gray;
  @include single-transition();
  &:hover {
    border-bottom-color: $anchor-font-color;
  }
}

pre {
  margin-bottom: $paragraph-margin-bottom;
  background-color: rgba($white,0.8);
  border: 1px solid $gray;
  border-radius: $global-radius;
  padding: em-calc(20);
  @include single-transition();
  &:hover {
    border-color: $anchor-font-color;
    cursor: $cursor-text-value;
  }
}
code {
  color: $code-color;
  word-wrap: break-word;
}

.m-homepage {
  .fa {
    color: $primary-color;
  }
}
