$body-font-color    : $black-light;
$anchor-font-color  : $blue-steroid;
$code-color           : $magenta;
$text-shadow: rgba($black,0.8) 0px 2px 0px;

$transition-duration: 0.5s;



$magellan-bg: transparent;

[data-magellan-expedition] {
  background: $magellan-bg;
}



a {
  color: $anchor-font-color;
  font-weight: bold;
  border-bottom: 1px solid $gray;
  @include single-transition();
  &:hover {
    border-bottom-color: $anchor-font-color;
  }
}

pre {
  margin-bottom: $paragraph-margin-bottom;
  background-color: rgba($white,0.8);
  border: 1px solid $gray;
  border-radius: $global-radius;
  padding: em-calc(20);
  @include single-transition();
  &:hover {
    border-color: $anchor-font-color;
    cursor: $cursor-text-value;
  }
}
code {
  color: $code-color;
  word-wrap: break-word;
}


h3 {
  text-transform: uppercase;
  color: $black;
  font-weight: $font-weight-bold;
}

body {
  color: $gray-dark;
}
