// 1. Global
// ---------

$global-flexbox: true;
$global-width: 1200px;
$global-box-shadow: 0px 1px 1px rgba($black, 0.3);

$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-bold:   700;
$font-weight-black:  900;

$body-background: $gray-light;
$body-font-color: $gray-dark;



// c. Global

$font-family-sans-serif: 'Lato', Helvetica, Roboto, Arial, sans-serif;
$font-family-monospace:  'Ubuntu Mono', 'Monaco', monospace;

$header-font-color: rgba($gray-dark, 0.8);
$subheader-font-color: rgba($gray-dark, 0.6);
$anchor-font-color: $primary-color;
$body-font-family: $font-family-sans-serif;
$body-font-weight: $font-weight-normal;



// 4. Base Typography
// ------------------

$header-font-family: 'Chivo', sans-serif;
$header-font-weight: $font-weight-black;

$code-font-weight: $font-weight-bold;
$code-background-color: transparent;

$blockquote-border: 5px solid $secondary-color;
$blockquote-cite-font-size: rem-calc(20);
$blockquote-padding: rem-calc(20 40 20 40) !default;

$text-shadow: 0 1px 2px rgba(0,0,0,0.26);
$transition-duration: 200ms;
$transition-style: ease-in-out;

// Forms

$input-font-family: $body-font-family;
$input-border-color: darken(#fff, 20%);
$input-focus-border-color: $primary-color;
$input-border-width: 2px;
$input-box-shadow: none;
$input-include-glowing-effect: false;
$form-label-font-size: rem-calc(16);
$form-label-small-transform: none;


// Panels

$include-html-panel-classes: false;

$panel-font-color: $body-font-color;



// Magellan

$magellan-bg: $body-background;
$magellan-padding: 0 !important;
