// 1. Global
// ---------

$global-width: rem-calc(1200);
$global-lineheight: 1.6;

$font-weight-normal: 400;
$global-weight-bold: 900;
$font-weight-black:  900;
$global-flexbox: true;
$global-radius: 2px;

$body-background: $gray-light;
$body-font-color: $blue-dark;

$font-family-sans-serif: 'Lato', Helvetica, Roboto, Arial, sans-serif;
$body-font-family: $font-family-sans-serif;



// 4. Base Typography
// ------------------

$header-font-family: 'Chivo', sans-serif;
$header-font-weight: $font-weight-black;
$font-family-monospace:  'Ubuntu Mono', 'Monaco', monospace;

$code-font-weight: $font-weight-black;
$code-background-color: transparent;

$header-color: rgba($gray-dark, 0.8);
$header-lineheight: 1.1;
$header-styles: (
  small: (
    'h1': ('font-size': 24),
    'h2': ('font-size': 20),
    'h3': ('font-size': 19),
    'h4': ('font-size': 18),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16),
  ),
  medium: (
    'h1': ('font-size': 60),
    'h2': ('font-size': 48),
    'h3': ('font-size': 36),
    'h4': ('font-size': 24),
    'h5': ('font-size': 21),
    'h6': ('font-size': 18),
  ),
);
$header-small-font-color: rgba($gray-dark, 0.6);

$anchor-color: $primary-color;
$anchor-color-hover: $white;
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;

$blockquote-color: $dark-gray;
$blockquote-padding: rem-calc(9 20 0 19);
$blockquote-border: 5px solid $dark-gray;
$cite-font-size: rem-calc(13);
$cite-color: $dark-gray;

$transition-duration: 200ms;



// Forms

$input-font-family: $body-font-family;
$input-border-color: darken(#fff, 20%);
$input-focus-border-color: $primary-color;
$input-border-width: 2px;
$input-box-shadow: none;
$input-include-glowing-effect: false;
$form-label-font-size: rem-calc(16);
$form-label-small-transform: none;



// 13. Callout
// -----------

$callout-background: rgba($white, 0.4);
$callout-background-hover: $white;

$callout-background-fade: 0%;
$callout-border: none;



// Magellan

$magellan-bg: $body-background;
$magellan-padding: 0 !important;
