@charset "UTF-8";

// Sprite generator
@import "retina-sprites";
@import "pictos";

@import "colors";
@import "google-font";
@import "foundation/scss/foundation/functions";
@import "custom-settings";

@import "icones";

@import "foundation/scss/normalize";
@import "foundation/scss/foundation/components/global";
@import "foundation/scss/foundation/components/alert-boxes";
@import "foundation/scss/foundation/components/block-grid";
@import "foundation/scss/foundation/components/buttons";
@import "foundation/scss/foundation/components/forms";
@import "foundation/scss/foundation/components/grid";
@import "foundation/scss/foundation/components/inline-lists";
@import "foundation/scss/foundation/components/magellan";
@import "foundation/scss/foundation/components/panels";
@import "foundation/scss/foundation/components/tables";
@import "foundation/scss/foundation/components/type";
@import "foundation/scss/foundation/components/side-nav";
@import "foundation/scss/foundation/components/sub-nav";
@import "foundation/scss/foundation/components/visibility";

@import "custom-typeplate";
@import "typeplate-starter-kit/scss/typeplate";
@import "animate.css/source/base";
@import "animate.css/source/attention_seekers/bounce";
@import "animate.css/source/bouncing_entrances/bounceInDown";
@import "animate.css/source/bouncing_exits/bounceOutUp";

@import "components/type";
@import "components/topbar";
@import "components/masterhead";
@import "components/panel";
@import "components/pizza";
@import "code";

@import "modules/about";
@import "modules/blog";
@import "modules/forge";
@import "modules/homepage";
@import "modules/projects";
@import "components/magellan";
@import "modules/webdesign";
@import "modules/good-practice";
@import "modules/footer";
