@import "colors";
@import "foundation/scss/normalize";
@import "foundation/scss/foundation/components/global";
@import "components/topbar";

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(1.7);}
  43% {opacity: 1; transform: scaleX(1.5);}
}
@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}
@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: 6px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: -2px;}
}
@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(4);}
  43% {opacity: 1; transform: scaleX(10) rotate(60deg);}
}

body {
  background-color: $black;
  color: $white;
}

.error-wrapper {
  display: flex;
  min-height: 100vh;
}

.error-content {
  margin: auto;
}

.error--title {
  position: relative;
  color: $white;
  animation: noise 2s linear infinite;
  &:after,
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    content: attr(data-text);
  }
  &:after {
    color: blue;
    animation: noise-1 .2s linear infinite;
  }
  &:before {
    color: red;
    animation: noise-2 .2s linear infinite;
  }
}

.error--emphasis {
  color: $white;
  animation: noise-3 1s linear infinite;
}

a {
  opacity: 0.8;
  color: $white;
  &:hover {
    opacity: 1;
  }
}

.button-cta {
  color: rgba(0,0,0,0.38);
  padding: 9px 12px;
  font-weight: bold;
  border-radius: 2px;
  background-color: #f8f8f8;
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
  text-decoration: none;
  transition: box-shadow .3s ease;
  margin-right: 5px;
  &:hover {
    color: #222;
    text-decoration: none;
  }
}
