@mixin reset-link(){
  &:after {
    content: none !important;
  }
}

.m-blog-row {
  max-width: 100%;
  aside {
    background-color: $gray;
    box-shadow: 0px -30px 0px 0px $gray;
    .section {
      padding-left: rem-calc(20);
      padding-right: rem-calc(20);
    }
  }
}

.m-blog--post-list {
  @extend .no-bullet;

  li {
    margin-bottom: rem-calc(10);
  }
  a {
    border-bottom: 0;
  }
  time {
    margin: rem-calc(0 20 10 0);
    display: block;
  }
}

.m-post--link {
  font-size: 24px;
  color: $black;
  font-weight: $font-weight-normal;
  display: block;
  &:hover {
    background: transparent;
    color: $secondary-color;
  }
  &:visited {
    color: $gray-blue;
  }
}

.m-blog {
  &--article {
    p:first-child {
      margin-bottom: rem-calc(80);
    }

    h2 {
      margin-top: rem-calc(80);
    }
  }
  &--follow-list {
    display: flex;
    text-align: center;

    a {
      color: $white;
      border-bottom: 0;
      font-size: rem-calc(35);
      margin-right: rem-calc(10);
      min-width: rem-calc(60);
      min-height: rem-calc(60);
      transition: transform 100ms;
      &:hover {
        transform: translateY(-5px);
      }

      &.twitter {
        background-color: #1DA1F2;
        @include reset-link();
      }
      &.linkedin {
        background-color: #3B5998;
        @include reset-link();
      }
      &.github {
        background-color: #24292E;
        @include reset-link();
      }
      &.rss {
        background-color: #EF8647;
      }
    }
  }
}

.m-blog-author {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
  padding-top: 80px;

  .l-avatar {
    position: absolute;
    transform: translateY(-100%) translateX(50%);
    margin-left: rem-calc(20);
    img {
      border: 3px solid $white;
      border-radius: 100%;
      max-height: 160px;
      max-width: 160px;
    }
  }
  .l-twitter {
    display: block;
    @include reset-link();
    border-bottom: 0;
  }

  .l-name {
    @extend .acolyte;
    @include reset-link();
    color: $black;
    border-bottom: 0;
    margin-top: rem-calc(20);
    display: block;
    margin-bottom: 0;
    &:hover {
      background-color: transparent;
    }
  }
}

a.typeform-share {
  @include reset-link();
}
