.m-footer--section {
  padding-top: rem-calc(40);
  padding-bottom: rem-calc(40);
  background-color: $gray;
  position: relative;
  z-index: 90;
}

.m-footer--side-nav {
  @include menu-base;
  @include menu-direction(vertical);

  a {
    font-weight: $font-weight-normal;
    @include color-hover($gray-dark, $primary-color);
    background: transparent;
    border-bottom: 0;
  }
  .l-title {
    padding: rem-calc(14);
    text-transform: uppercase;
    font-weight: $font-weight-black;
    font-family: $font-family-monospace;
    color: $gray-blue;
  }
}

.m-footer {
  background-color: #24292e;
  background-image: image-url('star-bg.svg'), linear-gradient(#191c20, #24292e 15%);
  background-repeat: repeat-x;
  background-position: center 0, 0 0, 0 0;
  background-size: 100% auto;


  padding: rem-calc(40 0);
  position: relative;
  z-index: 90;

  p {
    color: $gray;
  }
  .l-text {
    padding: 0 rem-calc(20);;
    font-size: rem-calc(13);
    text-align: center;
    opacity: 0.8;
  }

  label {
    color: $white;
    margin-bottom: rem-calc(10);
  }
  a {
    border: none;
  }
  hr {
    border-color: rgba($gray-light, 0.2);
  }
}

p.m-footer--title {
  @extend h3;
  margin-top: 0;
  margin-bottom: rem-calc(15);
  color: $secondary-color;
  font-weight: $font-weight-black;
}
