@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@mixin fade-in-animation() {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 500ms;
}

.hero-homepage {
  @include fade-in-animation();

  background-repeat: repeat-x;
  background-position: center top;
  background-size: 110% auto;
  background-image: image-url('bg-hero.svg'), linear-gradient(to right, $blue-light 0%, $primary-color 80%);

  display: flex;
  padding-bottom: $topbar-height;
  padding-top: $topbar-height;
  color: $white;

  h1 {
    text-shadow: 1px 2px 0px rgba($black, 0.4);
    color: $yellow;
  }
  em {
    letter-spacing: -2px;
  }
  @include breakpoint(medium) {
    padding-top: ($topbar-height * 2);
  }
}

.homepage-picture {
    max-width: 130px;
    max-height: 130px;
    border-radius: 5px;

}
