.hero-homepage {
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 110% auto;
  background-image: image-url('bg-hero.svg'), linear-gradient(to right, $blue-light 0%, $primary-color 80%);

  display: flex;
  position: relative;
  padding-bottom: $topbar-height;
  padding-top: $topbar-height;
  color: $white;

  h1 {
    text-shadow: 1px 2px 0px rgba($black, 0.4);
    color: $yellow;
  }
  em {
    letter-spacing: -2px;
  }
  @include breakpoint(medium) {
    padding-top: ($topbar-height * 2);
  }
}

.homepage {
  .icons-skills {
    max-width: 150px;
  }

  .l-illu {
    font-size: rem-calc(40);
    color: $turquoise;
    margin-bottom: rem-calc(20);
  }
}
