.hero-homepage {
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 110% auto;
  background-image: image-url('bg-hero.svg'), $banner-linear-bg;

  display: flex;
  position: relative;
  padding-bottom: $topbar-height;
  padding-top: $topbar-height;
  color: $white;
  h1 {
    color: $yellow;
  }
  @include breakpoint(medium) {
    padding-top: ($topbar-height * 2);
  }
}

.homepage {
  .icons-skills {
    max-width: 150px;
  }

  .l-illu {
    font-size: rem-calc(40);
    color: $primary-color;
    margin-bottom: rem-calc(20);
  }
}
