.template-grid {
  padding: rem-calc(5);
  background-color: $white;

  span {
    margin: rem-calc(5);
    display: block;
    background-color: $gray-blue;
    height: rem-calc(50);
  }
}

.m-webdesign,
.m-manifest {
  .fa {
    color: $turquoise;
    &.l-large {
      font-size: rem-calc(80);
      margin: rem-calc(20 0);
    }
  }
}

.m-webdesign {
  .hero-banner {
    position: relative;
    overflow: hidden;
    background-color: #3D779A;
    min-height: 60vh;

    .row {
      position: relative;
      z-index: 100;
    }
  }
}

.m-video-background {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 0;
  video {
    height: 720px;
    min-width: 100%;
  }
}
