.list-color {
  li {
    width: 5em;
    height: 5em;
    border: 5px solid $white;
    box-shadow: 0 1px 5px rgba($black, 0.8);
  }

  .blue { background-color: $blue; }
  .pink { background-color: $pink; }

  .primary  { background-color: $primary-color; }
  .secondary  { background-color: $secondary-color; }
}
