meta property='og:site_name'   content='#{data.settings.site.title}'
meta property='og:type'        content='website'
meta property='og:url'         content='#{data.settings.site.url}'
meta property='og:title'       content='#{data.page.title}'
meta property='og:description' content='#{data.page.description}'
meta property='og:image'       content='#{data.settings.site.logo}'

