meta property="dc:creator"    content="#{data.settings.site.author}"
meta property="dc:format"     content="text/html"
meta property="dc:language"   content="fr-FR"
meta name="geo.position"      content="50.629250;3.057256"
meta name="geo.placename"     content="Lille, Nord"
meta name="geo.region"        content="FR-59"

meta property="og:site_name"    content="#{data.settings.site.title}"
meta property="og:type"         content="website"
meta property="og:url"          content="#{data.settings.site.url}"
meta property="og:title"        content="#{data.page.title}"
meta property="og:description"  content="#{data.page.description}"
meta property="og:image"        content="#{data.settings.site.logo}"

meta name="twitter:card"        content="#{data.settings.site.title}"
meta name="twitter:site"        content="#{data.settings.social.twitter.name}"
meta name="twitter:site:id"     content="#{data.settings.social.twitter.name}"
meta name="twitter:title"       content="#{data.page.title}"
meta name="twitter:description" content="#{data.page.description}"
meta name="twitter:creator"     content="#{data.settings.site.author}"
meta name="twitter:image:src"   content="#{data.page.image}"
meta name="twitter:domain"      content="#{data.settings.site.url}"

meta property="fb:admins"       content="#{data.settings.social.facebook.id}"

meta itemprop="name"            content="#{data.page.title}"
meta itemprop="description"     content="#{data.page.description}"
meta itemprop="image"           content="#{data.settings.site.logo}"

link rel="publisher" href="#{data.settings.social.google_plus}"
link rel="alternate" href="#{data.settings.social.rss.url}" type="application/rss+xml" title="#{data.settings.site.title}"
