---
title: Guide CSS pour une typographie web avec des polices personnalisées
description: Il existe un pouvoir de la typographie pour raconter des histoires.
page_title: Typographie & CSS
page_emphasis: "Améliorer l’accessibilité & lisibilité des caractères"
page_class: m-good-practice
---

section
  article
    p.typl8-drop-cap
      'Ces dernières années, il y a eu énormément de progrès concernant la typographie web. Mais si vous souhaitez sublimer votre expérience de lecture il existe certains points que vous pouvez améliorer.

    markdown:
      ## Avant de commencer

      Voici quelques règles de base à mettre en place dès maintenant pour faciliter la lecture du contenu de vos pages web. Si tout le monde appliquait ces simples conseils, la lecture sur internet en serait meilleure.

      - Aujourd’hui tous les navigateur sur le marché ont une taille de police par défaut de `16px`.

      - Largeur des paragraphes : actuellement le gros problème sur les sites concerne la largeur des paragraphes. Il sont beaucoup trop longs. `max-width: 40em` est une excellente base pour rendre le texte plus lisible.

      - `-webkit-font-smoothing: subpixel-antialiased` peut parfois obstruer les lettres en particulier sur OSX.

      - `-webkit-font-smoothing: antialiased` et `-moz-osx-font-smoothing: grayscale` peuvent fonctionner, mais attention à ne pas les utiliser sur des polices de petite taille.

      - `text-rendering: optimizeLegibility` avec cette seule ligne vous pouvez corriger instantanément les 2 problèmes précédemment cités et améliorer la typographie sur le web.

.row
  .medium-12.medium-centered.columns.text-center
      h2 6 Conseils pour une meilleure typographie
      hr

section itemtype="http://schema.org/BlogPosting" itemscope=""
  article itemprop="articleBody"
      markdown:
        __NB__ : Tout ces conseils sont donnés par le [typographe Erik Spiekermann](http://fontfeed.com/archives/erik-spiekermanns-typo-tips/), j’ai simplement adapté ses propos au monde de l’intégration CSS.

      .l-title
        p.gamma.i-rounded 1
        h3 L’ERREUR DE LA MAJUSCULE

      markdown:
        Ne JAMAIS utiliser de majuscules pour accentuer les mots dans une phrase.

        Elles ressortent beaucoup trop et gâchent le rythme de la colonne ou de la page. _Utilisez l’italique en remplacement_. Si vous devez définir des mots en majuscules, utilisez [les petites capitalisations](http://typeplate.com/#small-caps) appropriés avec ou sans majuscule, avec la balise `abbr`.
      .row
        .medium-6.columns
            h4
              i.fa.fa-fw.fa-thumbs-o-down
              'Merci de
              span ne pas faire
            p
              'Lorem ipsum dolor sit amet, consectetur HTML adipisicing elit. CSS Laboriosam voluptatem a beatae accusantium accusamus dolor provident error consectetur quibusdam suscipit neque temporibus.
        .medium-6.columns
            h4
              i.fa.fa-fw.fa-thumbs-o-up
              'Bonne
              span solution
            p
              'Lorem ipsum dolor sit amet, consectetur <abbr title="hyper text markup language">HTML</abbr> adipisicing elit. <abbr title="cascading styling sheets">CSS</abbr> Laboriosam voluptatem a beatae accusantium accusamus dolor provident error consectetur quibusdam suscipit neque temporibus.
      .row
        .medium-6.columns
            h4
              i.fa.fa-fw.fa-thumbs-o-down
              'Merci de
              span ne pas faire
            p
              'La simplicité est uniquement simple quand quelqu’un a SUPPRIMÉ TOUTE LA COMPLEXITÉ.
        .medium-6.columns
            h4
              i.fa.fa-fw.fa-thumbs-o-up
              'Bonne
              span
                'solution
              small utiliser l'italique
            p
              'La simplicité est uniquement simple quand quelqu’un a
              em supprimé toute la complexité.

      .l-title
        span.gamma.i-rounded 2
        h3 Liaisons
      markdown:
        Il existe 3 façons de connecter des mots distincts : le trait d'union -, le tiret demi-cadratin – `&ndash;` et le tiret cadratin —, qui est plus large `&mdash;`. Le trait d'union est facilement accessible sur n'importe quel clavier Mac ou PC, alors que le cadratin est une combinaison des touches `options + tiret` sur Mac. Le demi-cadratin est accessible en utilisant les touches `option + shift + tiret`.

        L'utilisation de ces 3 symboles différents dépends du pays d'origine ou de la tradition d'écriture. Le cadratin est utilisé —pour séparer les pensées commme ceci— mais visuellement je pense que c'est mieux de séparer avec un espace — comme cela —.

        Le demi-cadratin sans espace est souvent utilisé pour combiner des chiffres comme des horaires : le magasin est ouvert entre 10h–19h, ou vous pouvez aussi pendre le train Paris–Lille seulement entre 6h–22h.
      .row
        .medium-6.columns
            h4
              i.fa.fa-fw.fa-thumbs-o-down
              'Ça c'est
              span non
            p
              'Ouverture 10h-19h
        .medium-6.columns
            h4
              i.fa.fa-fw.fa-thumbs-o-up
              'Bonne
              span
                'solution
              small utiliser le demi-cadratin
            p
              'Ouverture 10h–19h
      .row
        .medium-6.columns
            h4
              i.fa.fa-fw.fa-thumbs-o-down
              'Ça c'est
              span non
            p
              'Il est essentiel -selon moi- de suivre les standards du web.
        .medium-6.columns
            h4
              i.fa.fa-fw.fa-thumbs-o-up
              'Bonne
              span
                'solution
              small avec un cadratin
            p
              'Il est essentiel — selon moi — de suivre les standards du web.

      .l-title
        span.gamma.i-rounded 3
        h3 “ & ”
      markdown:
        La principale régression, apportée par l’informatique en typographie, concerne la mauvaise utilisation des citations et apostrophes. Les citations peuvent avoir différentes formes. Généralement elles ressemblent à “ceci”, et sont facilement mémorisable par leur début “66” et leur fin “99”. Sur Mac `option + apostrophe` et `option + shift + apostrophe`.
      .row
        .medium-6.columns
            h4
              i.fa.fa-fw.fa-thumbs-o-down
              'Mauvais
              span exemple
            p.lead
              '"Bonjour"
        .medium-6.columns
            h4
              i.fa.fa-fw.fa-thumbs-o-up
              'Mieux
              small une vraie citation
            p.lead
              '“Bonjour”

      .l-title
        span.gamma.i-rounded 4
        h3 Unir les forces
      markdown:
        En typographie une bonne gestion des espaces est indispensable. Ce travail est extrèmement long car il doit être réalisé à la main, caractère par caractère. Heureusement il existe des solutions pour améliorer la gestion des espaces entre deux lettres.

        Le crénage peut être utilisé pour serrer ou desserrer l'espaces entre les caractères. [kerningjs](http://kerningjs.com/) est une solution qui allie CSS et JavaScript afin de permettre une gestion automatisée de l'espacement.
        ![Une animation de texte avec le script kerningjs](https://lh3.googleusercontent.com/-S3P-AF5-7Bc/VG83DBWq2TI/AAAAAAAAAOc/z823eIPmpPA/w449-h300-no/typography.gif)

        Une ligature est une combinaison visuelle de 2 ou 3 lettres en un seul caractère comme ff, fi, fl, ffi. Les ligatures concervent les lettres de chevauchements, améliorent la lisibilité et sont facilement [modifiables en CSS](https://developer.mozilla.org/fr/docs/Web/CSS/letter-spacing).

        ~~~ css
          h1 { letter-spacing: -3px; }
        ~~~
      .row
        .medium-6.columns
            h4
              i.fa.fa-fw.fa-thumbs-o-down
              'Pas de
              span ligature
            p.lead.l-spacing
              'Affinity
              br
              'Affluence
              br
              'Configure
        .medium-6.columns
            h4
              i.fa.fa-fw.fa-thumbs-o-up
              'Mieux
              small lisibilité améliorée
            p.lead
              'Affinity
              br
              'Affluence
              br
              'Configure

      .l-title
        span.gamma.i-rounded 5
        h3 Ne pas justifier
      markdown:
        Évitez les réglages de chasse ! La plupart des applications créent un texte hideusement justifié par étirement en créant de nombreux espaces entre les mots. Notez qu’il faut _de nombreuses heures de travail fastidieux_, pour composer un texte justifié qui soit vraiment bien proportionné et lisible.

        Pour cette raison, les professionnels préfèrent utiliser des compositions alignées sur la gauche, avec ou sans césure, en fonction de variation à la propriété `line-height`. Cela donne au texte une apparence plus harmonieuse et le rend plus facile à lire, puisque tous les espaces entre les mots ont la même largeur.
      .row
        .medium-6.columns
            h4
              i.fa.fa-fw.fa-thumbs-o-down
              'Rivières
              span disgracieuses
            .row
              .small-6.columns
                p.text-justify
                  'The world at once present and absent which the spectacle makes visible is the world of the commodity dominating all that…
        .medium-6.columns
            h4
              i.fa.fa-fw.fa-thumbs-o-up
              'Mieux
              small alignement gauche
            .row
              .small-6.columns
                p
                  'The world at once present and absent which the spectacle makes visible is the world of the commodity dominating all that…

      .l-title
        span.gamma.i-rounded 6
        h3 Sauvez les listes
      markdown:
        Utilisez des puces `&bull;` ou des points centrés `&sdot;` au lieu des traits d'union `-` lorsque vous listez des éléments.
        Ils appartiennent au jeu de [caractères standard](http://flexbox.github.io/responsive-icons/) et s'utilisent facilement :

        • `option + dièse` (mac), `alt + 0149` (windows)

        · `option + shift + 9` (mac), `alt + 0183` (windows)

      .row
        .medium-6.columns
            h4
              i.fa.fa-fw.fa-thumbs-o-down
              'Merci de
              span ne pas faire
            ul.no-bullet
              li - Apperture science
              li - Black mesa
        .medium-6.columns
            h4
              i.fa.fa-fw.fa-thumbs-o-up
              'Bonne
              span solution
            ul
              li Apperture science
              li Black mesa

      markdown:
        - - -

        Pour aller plus loin :

        [spiekermann.com](http://spiekermann.com/)


