---
title: 'Coaching développement frontend HTML, CSS & JavaScript'
description:
image:
page_title: 'Coaching & conseils'
page_emphasis: 'Faire grandir votre projet, étape après étape'
changefreq: yearly
priority: 0.6
---

.row
  .medium-5.columns
    = image_tag 'front/work/coaching.jpg', alt: 'Coaching & revue de code developement front-end'
  .medium-7.columns
    markdown:
      ## Comment ça fonctionne ?

      Une session de coaching commence par une évaluation de vos besoins et de vos objectifs, suivi par une évaluation des compétences pour voir ce que je peux faire pour vous mettre sur la bonne voie.

      Nous __travaillons ensemble__ pour déterminer les meilleurs activités à réaliser pour atteindre vos objectifs personnels et organisationnels. À la fin, nous réalisons une évalution & des “Devoirs à la maison” pour être certain d’aquérir vos nouvelles compétences.

      ## Discutons-en !

      Expliquez-moi dès aujourd’hui, quel problème je pourrai résoudre. Je peux vous aider en partageant mon expérience avec votre équipe.

    = link_to 'Contacez–moi', "mailto:#{data.settings.social.email}", class: 'button secondary'

.row
  .medium-10.medium-centered.columns
    hr
    p.vador.text-center
      'J’aide les développeurs à
      strong> améliorer leur compétences
      'et les entreprises à
      strong> faire grandir leurs talents
      'sur l’organisation CSS & le développement front-end.
    hr

.row
  .medium-12.columns
    ul.small-block-grid-1.medium-block-grid-3
      li
        markdown:
          ### Pair programming
          2 cerveaux valent mieux qu’un particulièrement quand on travaille sur un problème difficile. Je peux vous aider à découvrir les points complexes et les problèmes __avant le code se retrouve en production__.
      li
        markdown:
          ### Organisation du code
          Si votre base de code devient de plus en plus __difficile à maintenir__, j’utiliserai mon expérience en construction d’application web pour vous remettre sur le droit chemin.
      li
        markdown:
          ### Méthode de travail
          Beaucoups de tâches en développement front-end sont répétitives & compliquées. Je peux vous aider à mettre en place des outils — comme un [styleguide](http://flexbox.github.io/foundation-boilerplate/) — pour automatiser les tests, la construction & le déployement.

.row
  .medium-10.medium-centered.columns
    p
      'Mes sessions de coaching commencent par une conversation. Envoyez moi un email à
      => link_to data.settings.social.email, "mailto:#{data.settings.social.email}"
      'pour savoir comment je pourrai aider votre équipe.
