---
title: Refonte de site internet
description: ...
changefreq: daily
priority: 0.8
page_title: Réussir sa refonte de site internet
---

.row
  .medium-8.columns
    h2 Liste des articles
  .medium-4.columns
