.template {
  padding: rem-calc(5);
  background-color: $white;

  span {
    margin: rem-calc(5);
    display: block;
    background-color: $gray;
    height: rem-calc(50);
  }
}

.m-webdesign,
.m-manifest {
  [data-magellan-expedition] {
    z-index: auto;
  }
  .sub-nav {
    max-width: rem-calc(170);
  }

  [class*=" icon-"],
  .fa {
    @extend %icon-style;
    color: $primary-color;
    &.l-large {
      font-size: rem-calc(80);
      margin: rem-calc(20) 0;
    }
  }
}

.m-webdesign {
  .m-masterhead--background {
    position: relative;
    overflow: hidden;
  }
}

.m-video-background {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.m-video-background video {
  height: 720px;
  min-width: 100%;
}

#main {
  padding: 10px;
  margin: 10px 0;
}
