.template {
  padding: rem-calc(5);
  background-color: $white;

  span {
    margin: rem-calc(5);
    display: block;
    background-color: $gray;
    height: rem-calc(50);
  }
}

.webdesign {
  [data-magellan-expedition] {
    z-index: auto;
  }
  .sub-nav {
    max-width: rem-calc(170);
  }

  [class*=" icon-"],
  .fa {
    @extend %icon-style;
    color: $primary-color;
    &.l-large {
      font-size: rem-calc(80);
      margin: rem-calc(20) 0;
    }
  }
}
