.button {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
  transition: background 150ms ease-in-out;
  &:hover,
  &:focus {
    background-color: $body-bg;
    color: $primary-color;
  }
  &.secondary {
    &:hover,
    &:focus {
      background-color: $body-bg;
      color: $secondary-color;
    }
  }
}
