.button {
  font-weight: $font-weight-bold;
  transition: background 150ms ease-in-out;
  &:hover {
    background-color: $body-bg;
    color: $primary-color;
  }
  &.secondary {
    &:hover {
      background-color: $body-bg;
      color: $secondary-color;
    }
  }
}
