.button {
  font-family: $font-family-monospace;
  letter-spacing: -1px;
  transition: background 150ms ease-in-out;
  position: relative;

  &:hover,
  &:focus {
    background-color: $body-background;
    color: $primary-color;
  }
  &.secondary {
    &:hover,
    &:focus {
      background-color: $body-background;
      color: $secondary-color;
    }
  }
  &.button-icon {
    &:after {
      transition: all 200ms ease-in-out;
      position: absolute;
      opacity: 0;
      margin-left: -1em;
      left: auto;
      display: inline-block;
      content: attr(data-icon);
    }
    &:hover {
      &:after {
        left: auto;
        margin-left: .3em;
        opacity: 1;
      }
    }
  }
}
