$m-panel-bg: rgba($white, 0.4);
$m-panel-bg-hover: $white;

.m-panel {
  // @include panel($m-panel-bg);
  transition: box-shadow $transition-duration ease-in-out;
  box-shadow: 5px 5px 0px rgba($black, 0.2);
  // @include typl8-hyphens(none);

  &:hover {
    background-color: $m-panel-bg-hover;
    box-shadow: 1px 1px 0px rgba($black, 0.2);
  }
  a.m-panel--clean {
    border-bottom: 0;
    &:hover {
      background-color: transparent;
    }
  }

  &.l-callout {
    border-top: 5px solid $secondary-color;
    margin: rem-calc(60 0 80 0);
    position: relative;
    a {
      color: $secondary-color;
      border-color: $secondary-color;
      &:hover {
        color: $white;
        background-color: $secondary-color;
      }
    }
  }

  &.l-social {
    position: relative;
    overflow: hidden;
    .l-title {
      margin-top: 0;
    }

    i {
      transition: all $transition-duration ease-in-out;
      position: absolute;
      right: 20%;
      top: -100%;
      font-size: rem-calc(60);
      color: $primary-color;
      &.fa-google-plus { color: $sc-google-plus; }
      &.fa-twitter { color: $sc-twitter; }
      &.fa-github { color: $sc-github; }
      &.fa-gift { color: $sc-amazon; }
    }

    &:hover {
      i {
        top: 5%;
      }
    }
  }

  a[href^=""]:not([href*="davidl.fr"]):after,
  a[href*="https:"]:not([href*="davidl.fr"]):after {
    content: none;
  }

  .l-icon {
    &-card {
      display: flex;
      align-items: center;
      @include breakpoint(small-only) {
        flex-direction: column;
      }
    }

    &-content {
      margin-left: 40px;
      @include breakpoint(small-only) {
        align-self: flex-start;
      }

    }
  }
}

a.m-panel-container[href^=""]:not([href*="davidl.fr"]):after,
a.m-panel-container[href*="https:"]:not([href*="davidl.fr"]):after {
  content: none;
}

.m-panel-container {
  padding: 0;
  .m-panel {
    min-height: 180px;
  }
}

.js-linkspy-start {
  cursor: pointer;
}
