$banner-linear-bg: linear-gradient(to right, $blue-light 0%, $primary-color 80%);

.m-hero-banner {
  position: relative;
  background: $banner-linear-bg;
  margin-bottom: rem-calc(30);
  padding-top: $topbar-height;
  @media #{$small} {
    padding-top: ($topbar-height * 2.5);
  }

  i {
    color: $white !important;
  }

  .l-title,
  .l-emphasis {
    color: $white;
    text-shadow: $text-shadow;
    position: relative;
    @media #{$small} {
      @include grid-column($columns: 10, $center: true);
    }
  }

  .l-title {
    font-size: rem-calc(40);
    margin-top: 0;
    padding: rem-calc(20 10 10 10);
    margin-bottom: 0;
    @media #{$small} {
      margin-top: rem-calc(20);
    }
  }
  .l-emphasis {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    margin-bottom: rem-calc(60);
    @media #{$small} {
      margin-bottom: 0;
      padding-bottom: rem-calc(20);
    }
  }
}

.m-hero-contact {
  padding-top: $topbar-height;
  h1 {
    font-size: rem-calc(40);
    margin-top: 0;
    @media #{$small} {
      margin-top: rem-calc(20);
      margin-bottom: 0;
    }
  }
  .m-panel {
    margin-top: 0;
  }
}
