@keyframes rainbow {
  0% { background-position: 0 82%; }
  50% { background-position: 100% 19%; }
  100% { background-position: 0 82%; }
}

.hero-banner {
  background: linear-gradient(124deg, $blue, $blue, $blue, $blue-light, $blue-dark, $blue-dark);
  background-size: 1800% 1800%;
  animation: rainbow 16s ease infinite;

  margin-bottom: rem-calc(30);
  padding-top: $topbar-height;
  padding-bottom: $topbar-height;
  text-align: center;
  position: relative;

  @include breakpoint(small) {
    padding-top: ($topbar-height * 2.5);
  }

  .title,
  .emphasis {
    color: $white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  }

  .title {
    font-size: rem-calc(40);
    padding: rem-calc(20 10 10 10);
    margin-bottom: 0;
    letter-spacing: -1px;
  }
  .emphasis {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    margin-bottom: rem-calc(60);
  }

  .wave-picture {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.hero-contact {
  padding-top: $topbar-height;
  h1 {
    font-size: rem-calc(40);
    margin-top: 0;
    @include breakpoint(small) {
      margin-top: rem-calc(20);
      margin-bottom: 0;
    }
  }
  .callout {
    margin-top: 0;
  }
}
