@keyframes movebg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1260px 0;
  }
}

.m-hero-intro {
  background-color: $primary-color;
  margin-bottom: rem-calc(30);
  padding-bottom: $topbar-height;
  padding-top: $topbar-height;
  @media #{$small} {
    padding-top: $topbar-height * 2;
  }

  i {
    color: $white !important;
  }

  .l-title,
  .l-emphasis {
    color: $gray-light;
    text-shadow: $text-shadow;
    position: relative;
    @media #{$small} {
      @include grid-column($columns: 8, $center: true);
    }
  }

  .l-title {
    font-size: rem-calc(40);
    margin-top: 0;
    padding: rem-calc(20 10 10 10);
    @media #{$small} {
      margin-top: rem-calc(20);
      margin-bottom: 0;
    }
  }
  .l-emphasis {
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
    @media #{$small} {
      margin-bottom: 0;
      padding-bottom: rem-calc(40);
    }
  }
}

.m-hero-contact {
  padding-top: $topbar-height;
  h1 {
    font-size: rem-calc(40);
    @media #{$small} {
      margin-top: rem-calc(20);
      margin-bottom: 0;
    }
  }
  .m-panel {
    margin-top: 0;
  }
}

.m-homepage .m-hero-intro {
  background: url("https://farm4.staticflickr.com/3946/15583794966_fd39f2f2e8_o.jpg") repeat top center $primary-color;
  @media #{$small} {
    animation: 35s linear 0s normal none infinite movebg;
  }
}
