@keyframes movebg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1260px 0;
  }
}

.m-hero-intro {
  background-color: $primary-color;
  margin-bottom: rem-calc(30);
  padding-top: $topbar-height * 2;
  padding-bottom: $topbar-height;
  padding-left: $column-gutter;
  padding-right: $column-gutter;
  i {
    color: $white !important;
  }

  .l-title,
  .l-emphasis {
    color: $gray-light;
    text-shadow: $text-shadow;
  }

  .l-title {
    font-size: rem-calc(40);
    @media #{$small} {
      margin-top: rem-calc(20);
      margin-bottom: 0;
      padding: rem-calc(40 60 20 60);
    }
  }
  .l-emphasis {
    @media #{$small} {
      margin-bottom: 0;
      padding: rem-calc(0 60 60 60);
    }
  }
}

.m-hero-contact {
  padding-top: $topbar-height;
  h1 {
    font-size: rem-calc(40);
    @media #{$small} {
      margin-top: rem-calc(20);
      margin-bottom: 0;
    }
  }
  .m-panel {
    margin-top: 0;
  }
}

.m-homepage .m-hero-intro {
  background: url("https://farm4.staticflickr.com/3946/15583794966_fd39f2f2e8_o.jpg") repeat top center;
  @media #{$small} {
    animation: 35s linear 0s normal none infinite movebg;
  }
}
