@keyframes movebg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1260px 0;
  }
}

.m-hero-intro {
  background-color: $primary-color;
  margin-bottom: rem-calc(30);
  padding-top: $topbar-height;
  i {
    color: $white !important;
  }

  .l-icon {
    text-align: center;
    padding-top: rem-calc(0);
    padding-bottom: rem-calc(20);
    font-size: rem-calc(32);
    opacity: .4;
    @media #{$small} {
      font-size: rem-calc(64);
    }
    animation: 3s ease-in-out 0s normal none infinite bounce;
  }

  .l-title,
  .l-emphasis {
    text-align: center;
    color: $gray-light;
    text-shadow: $text-shadow;
  }

  .l-title {
    font-size: rem-calc(40);

    @media #{$small} {
      margin-top: rem-calc(40);
      margin-bottom: 0;
      font-size: rem-calc(70);
      padding: rem-calc(40) rem-calc(60);
    }
  }

  .l-emphasis {
    @media #{$small} {
      font-size: rem-calc(18);
    }
  }

}

.m-homepage .m-hero-intro {
  background: url("https://farm4.staticflickr.com/3946/15583794966_fd39f2f2e8_o.jpg") repeat top center;
  @media #{$small} {
    animation: 35s linear 0s normal none infinite movebg;
  }
}

.m-books .m-hero-intro {
  background: url("https://farm4.staticflickr.com/3839/15072640746_8b070f6379_h.jpg") repeat top center $gray-dark;
  background-size: cover;
}

.m-projects .m-hero-intro {
  background: url("https://farm4.staticflickr.com/3904/14327833686_9f4b21b2cc_h.jpg") repeat 0 0 $gray-dark;
  background-size: cover;
}
