$magellan-padding: 0;

[data-magellan-expedition] {

  .side-nav {
    dd {
      margin: 0;
    }
    .l-title {
      padding: rem-calc(15);
      text-transform: uppercase;
      font-weight: $font-weight-black;
    }
    a {
      border-bottom: 0;
      display: block;
      padding: rem-calc(10 15);
      background: transparent;
      @include color-hover($gray-dark,$primary-color);
    }
    .active a {
      color: $secondary-color;
    }
  }
}

.m-magellan {
  [data-magellan-expedition] {
    z-index: 1;
    @include grid-column($columns: 2);
  }
  .callout {
    max-width: rem-calc(300);
  }
}
