.menu-magellan {
  .title {
    padding: 0.7rem 1rem;
    text-transform: uppercase;
    font-family: $font-family-monospace;
  }
  a {
    font-weight: $font-weight-normal;
    border-bottom: 0;
    background: transparent;
    @include color-hover($gray-blue,$primary-color);
  }
  a.is-active {
    color: $turquoise;
  }
}
