@keyframes bounce {
  0% {
    padding-top: rem-calc(0);
    padding-bottom: rem-calc(20);
  }
  50% {
    padding-bottom: rem-calc(0);
    padding-top: rem-calc(20);
  }
  100% {
    padding-top: rem-calc(0);
    padding-bottom: rem-calc(20);
  }
}

@keyframes movebg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1260px 0;
  }
}

.m-masterhead {
  background-color: $primary-color;
  margin-bottom: rem-calc(30);
  padding-top: $topbar-height;
  i {
    color: $white !important;
  }

  .l-icon {
    text-align: center;
    text-shadow: $text-shadow;
    padding-top: rem-calc(0);
    padding-bottom: rem-calc(20);
    font-size: rem-calc(32);
    opacity: 0.5;
    @media #{$small} {
      font-size: rem-calc(64);
    }
    // animation: 3s ease 0s normal none infinite bounce;
  }

  .l-title,
  .l-emphasis {
    text-align: center;
    color: $gray-light;
    text-shadow: $text-shadow;
  }

  .l-title {
    font-size: rem-calc(40);

    @media #{$small} {
      margin-top: rem-calc(40);
      font-size: rem-calc(70);
      padding: rem-calc(40) rem-calc(60);
    }
  }

  .l-emphasis {
    @media #{$small} {
      font-size: rem-calc(18);
    }
  }

  & > .row {
    background-color: rgba($primary-color,.4);
  }

}

.m-homepage .m-masterhead {
  background: url("https://farm8.staticflickr.com/7109/13495318545_539563e8ee_o.jpg") repeat 0 0 $gray-dark;
  @media #{$small} {
    animation: 35s linear 0s normal none infinite movebg;
  }
}

.m-books .m-masterhead {
  background: url("https://farm4.staticflickr.com/3839/15072640746_8b070f6379_h.jpg") repeat top center $gray-dark;
  background-size: cover;
}

.m-pricing .m-masterhead {
  background: url("https://farm4.staticflickr.com/3905/14351019625_1a874c99fd_h.jpg") repeat center center $gray-dark;
}

.m-projects .m-masterhead {
  background: url("https://farm4.staticflickr.com/3904/14327833686_9f4b21b2cc_h.jpg") repeat 0 0 $gray-dark;
  background-size: cover;
}
