$m-panel-bg: rgba($white, .4);
$m-panel-bg-hover: $white;

.m-panel {
  @include panel($m-panel-bg);
  @include single-transition(all, $transition-duration, ease-in-out);
  box-shadow: 0px 0px 2px rgba(0,0,0,.1);

  &:hover {
    background-color: $m-panel-bg-hover;
    box-shadow: 0px 0px 5px rgba(0,0,0,.2);
  }
  a.m-panel--clean {
    border-bottom: 0;
    &:hover {
      background-color: transparent;
    }
  }

  &.l-callout {
    border-bottom: 5px solid $secondary-color;
    margin: rem-calc(60 0 80 0);
    position: relative;
    &:after {
      @include css-triangle(rem-calc(32),$secondary-color,top);
      position: absolute;
      left: 50%;
      top: 100%;
      margin-left: rem-calc(-32);
    }
    a {
      color: $secondary-color;
      border-color: $secondary-color;
      &:hover {
        color: $white;
        background-color: $secondary-color;
      }
    }
  }

  &.l-social {
    position: relative;
    overflow: hidden;

    i {
      @include single-transition(all, $transition-duration, ease-in-out);
      position: absolute;
      right: 20%;
      top: -100%;
      font-size: rem-calc(60);
      color: $primary-color;
      &.fa-google-plus { color: $sc-google-plus; }
      &.fa-twitter { color: $sc-twitter; }
      &.fa-github { color: $sc-github; }
      &.fa-gift { color: $sc-amazon; }
      &.fa-code { color: $sc-coderwall; }
      &.fa-eur { color: $sc-flattr; }
    }

    &:hover {
      i {
        top: 5%;
      }
    }
  }
}

.m-blog-panel {
  @extend .m-panel;
  @extend .l-callout;

  .fa {
    font-size: rem-calc(20);
    margin-right: rem-calc(10);
  }

  a {
    border-bottom: 0;
  }

  img {
    border: 3px solid $white;
    border-radius: $global-rounded;
    @include single-transition();
    &:hover {
      border-color: $secondary-color;
    }
  }
}

.m-section {
  margin: rem-calc(60) 0 rem-calc(80);
  padding: rem-calc(40) 0;
}
