$m-panel-bg: rgba($white, .4);
$m-panel-bg-hover: $white;

.m-panel {
  @include panel($m-panel-bg);
  @include single-transition(box-shadow, $transition-duration, ease-in-out);
  box-shadow: 5px 5px 0px rgba($black,.1);
  @include css-hyphens(none);


  &:hover {
    background-color: $m-panel-bg-hover;
    box-shadow: 1px 1px 0px rgba($black,.2);
  }
  a.m-panel--clean {
    border-bottom: 0;
    &:hover {
      background-color: transparent;
    }
  }

  &.l-callout {
    border-top: 5px solid $secondary-color;
    margin: rem-calc(60 0 80 0);
    position: relative;
    a {
      color: $secondary-color;
      border-color: $secondary-color;
      &:hover {
        color: $white;
        background-color: $secondary-color;
      }
    }
    &.l-callout--primary {
      text-align: center;
      border-top: 5px solid $primary-color;
      a {
        color: $primary-color;
        border-color: $primary-color;
        &:hover {
          color: $white;
          background-color: $primary-color;
        }
      }
      img {
        padding: rem-calc(5);
        border: 2px solid $white;
        border-radius: $global-rounded;
      }
      blockquote {
        text-align: left;
        padding-left: rem-calc(20);
      }
      .l-callout--image {
        position: relative;
        i {
          position: absolute;
          right: 50%;
          bottom: rem-calc(-5);
          color: $sc-js;
          font-size: rem-calc(40);
          margin-right: rem-calc(-20);
        }
      }
    }
  }

  &.l-social {
    position: relative;
    overflow: hidden;
    .l-title {
      margin-top: 0;
    }

    i {
      @include single-transition(all, $transition-duration, ease-in-out);
      position: absolute;
      right: 20%;
      top: -100%;
      font-size: rem-calc(60);
      color: $primary-color;
      &.fa-google-plus { color: $sc-google-plus; }
      &.fa-twitter { color: $sc-twitter; }
      &.fa-github { color: $sc-github; }
      &.fa-gift { color: $sc-amazon; }
      &.fa-code { color: $sc-coderwall; }
      &.fa-eur { color: $sc-flattr; }
    }

    &:hover {
      i {
        top: 5%;
      }
    }
  }

  a[href^=""]:not([href*="davidl.fr"]):after,
  a[href*="https:"]:not([href*="davidl.fr"]):after {
    content: "";
  }

}

.m-blog-panel {
  @extend .m-panel;
  @extend .l-callout;

  .fa {
    font-size: rem-calc(20);
    margin-right: rem-calc(10);
  }

  a {
    border-bottom: 0;
  }
  p {
    font-size: rem-calc(14);
  }

  .l-avatar {
    border: 3px solid $white;
    border-radius: $global-rounded;
    display: block;
    img {
      border-radius: $global-rounded;
      &:hover {
        border-color: $secondary-color;
      }
    }
  }

  .l-footer {
    border-top: 1px solid $hr-border-color;
    @include clearfix;
    a {
      width: 50%;
      float: left;
      display: block;
      text-align: center;
      padding: rem-calc(10 0);
      font-size: rem-calc(14);
      color: $gray-dark;
      &:hover {
        color: $primary-color;
        background-color: transparent;
      }
    }
  }
}

.js-linkspy-start {
  cursor: pointer;
}
