$topbar-height: rem-calc(60);

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.m-topbar {
  position: fixed;
  width: 100%;
  min-height: $topbar-height;
  z-index: 15;

  transition: transform 150ms ease-in-out;
  background-color: $gray-light;

  bottom: 0;
  top: initial;
  @media #{$medium}{
    top: 0;
    bottom: initial;
    display: flex;
  }
  a {
    border-bottom: 0;
    background-color: transparent;
    padding: rem-calc(20);
    color: $blue-dark;
    font-family: $font-family-monospace;
    letter-spacing: -1px;

    &:hover,
    &.is-active {
      color: $primary-color;
    }
  }
}

.m-topbar--logo {
  padding: 0 !important;
  svg {
    animation: logo-spin infinite 20s linear;
    max-height: 64px;
    margin: rem-calc(20 0);
    @media #{$small}{
      margin: rem-calc(10 0 0 0);
      max-height: 44px;
      max-height: 48px;
    }
  }
}

// a.m-topbar--button {
//   color: $secondary-color;
// }

.m-topbar--list {
  display: flex;
  margin: auto;
  flex-direction: column;
  @media #{$medium}{
    flex-direction: row;
    flex: 6;
    display: flex;
  }
  &.is-away {
    display: none;
    @media #{$medium}{
      display: flex;
    }
  }
  &.is-on-viewport {
    display: flex;
  }
  a {
    text-align: center;
    display: block;
    flex: 1;
    padding: rem-calc(20 0);
  }
}

.m-topbar--form {
  display: flex;
  flex-direction: row;

  @media #{$medium}{
    display: inherit;
    flex: 4;
  }
  .l-search-form {
    padding: rem-calc(15 0 0 20);
    transition: all .2s ease-out;

    input {
      margin-bottom: 0;
    }
  }
  .l-menu {
    flex: 3;
    @media #{$medium}{
      flex: 0;
      display: none;
    }
    span {
      box-shadow: 0px 0px 0px 8px $gray, 0px 0px 0px 10px $gray-dark;
      padding: rem-calc(0 10);
    }
  }
  .l-action {
    flex: 1;
    text-align: right;
  }
  .is-hidden {
    flex: 0;
    display: none;
  }
  .is-expanded {
    flex: 15;
    display: block;
  }
  .l-twitter-link {
    &:after {
      content: '';
    }
  }
}



.headroom--top {
  box-shadow: 0px 0px 0px rgba(0,0,0,.5);
}

.headroom--not-top {
  box-shadow: 1px 0px 3px rgba(0,0,0,.2);
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(100%);
  @media #{$medium}{
    transform: translateY(-100%);
  }
}
