$topbar-height: rem-calc(60);

.m-topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: $topbar-height;
  z-index: 15;

  transition: all $transition-duration ease-in-out;

  a {
    border-bottom: 0;
    background-color: transparent;
    &:hover {
      color: $black;
    }
  }
}

.m-topbar--logo {
  padding: 0 !important;
  img {
    margin-top: rem-calc(5);
  }
}

.m-topbar--list {
  display: flex;
  flex-direction: row;
  margin: auto;

  width: 90%;
  @media #{$small}{
    width: 100%;
  }


  a {
    text-align: right;
    display: block;
    flex: 1;
    padding-top: rem-calc(20);
    font-size: rem-calc(13);
    @media #{$medium}{
      font-size: rem-calc(16);
      text-align: center;
    }
  }
  .l-search-form {
    display: none;
    padding: rem-calc(10 0 0 20);
  }

  .is-minimized {
    flex: 0;
    display: none;
  }
  .is-expanded {
    flex: 5;
    display: block;
  }
}



.headroom--top {
  background-color: transparent;
  box-shadow: 0px 0px 0px rgba(0,0,0,.5);
  a {
    color: $gray;
  }
}

.headroom--not-top {
  background-color: $white;
  box-shadow: 1px 0px 3px rgba(0,0,0,.2);
}
.headroom {
  transition: transform 200ms ease-in-out;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
