@mixin truncate($width: 100%) {
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate {
  @include truncate();
}

h1,
h2,
h3 {
  @include typl8-hyphens(none);
}

// .heading-style {
//   position: relative;
//   &:after {
//     content: '';
//     width: 100%;
//     height: 6px;
//     display: block;
//     background: #004EFF;
//     position: absolute;
//     bottom: 8px;
//     opacity: 0.5;
//     left: 10px;
//     right: -10px;
//   }
// }

*::selection {
  background: rgba($black, 0.1);
}

.ampersand {
  @include typl8-ampersand($typl8-amp-fontface, $typl8-amp-fontfamily);
}

pre {
  *::selection {
    background: rgba($white, 0.6);
  }
}

.i-rounded {
  border: 2px solid $secondary-color;
  border-radius: 100%;
  float: left;
  width: rem-calc(60);
  height: rem-calc(60);
  text-align: center;
  padding-top: rem-calc(3);
  font-weight: $font-weight-light;
  margin: rem-calc(0 30 20 0);
  color: $header-font-color;
  & + h3 {
    float: left;
  }

  &.light {
    border-color: $gray-dark;
    background-color: $gray;
    color: $gray-dark;
  }
}

.emperor { @extend h1; }
.vador   { @extend h2; }
.maul    { @extend h3; }
.sith    { @extend h4; }
.acolyte { @extend h5; }

blockquote {
  font-style: italic;
}

a {
  font-weight: $font-weight-bold;
  padding: rem-calc(2);
  border-bottom: 1px solid $anchor-font-color;
  transition: color 100ms, background-color 100ms;
  &:hover {
    color: $white;
    background-color: $anchor-font-color;
    border-bottom-color: $anchor-font-color;
  }
}

[href^="http://"]:not([href*="davidl.fr"]):after,
[href^="https://"]:not([href*="davidl.fr"]):after {
  font-family: FontAwesome;
  padding-left: rem-calc(5);
  content: "\f08e";
}

.link-reset {
  border-bottom: 0;
  &:hover {
    background-color: transparent;
  }
  &:after {
    content: " " !important;
    padding: 0;
  }
}

label small {
  float: right;
}

.text-tiny {
  font-size: rem-calc(13);
  font-weight: $font-weight-normal;
  margin-bottom: rem-calc(19);
  color: $subheader-font-color;
}
