h1, h2, h3, h4, h5, h6 {
  @include css-hyphens(none);
  margin-top: .5em;
  margin-bottom: 1.5em;
}

.emperor { @extend h1; }
.vador { @extend h2; }
.maul { @extend h3; }
.sith { @extend h4; }
.acolyte { @extend h5; }

blockquote {
  font-style: italic;
}

[href^=""]:not([href*="davidl.fr"]):after,
[href^="https:"]:not([href*="davidl.fr"]):after {
  font-family: FontAwesome;
  padding-left: rem-calc(5);
  content: "\f08e";
}
