h1, h2, h3, h4, h5, h6 {
  @include css-hyphens(none);
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.i-rounded {
  border: 2px solid $secondary-color;
  border-radius: $global-rounded;
  float: left;
  width: rem-calc(60);
  height: rem-calc(60);
  text-align: center;
  padding-top: rem-calc(3);
  font-weight: $font-weight-light;
  margin: rem-calc(0 30 20 0);
  color: $header-font-color;
  & + h3 {
    float: left;
  }

  &.light {
    border-color: $gray-dark;
    background-color: $gray;
    color: $gray-dark;
  }
}

.emperor { @extend h1; }
.vador   { @extend h2; }
.maul    { @extend h3; }
.sith    { @extend h4; }
.acolyte { @extend h5; }

li {
  font-weight: $font-weight-normal;
}

blockquote {
  font-style: italic;
}

a {
  font-weight: $font-weight-bold;
  padding: rem-calc(2);
  border-bottom: 1px solid $anchor-font-color;
  @include single-transition(background-color, $transition-duration, $transition-style);
  &:hover {
    color: $white;
    background-color: $anchor-font-color;
    border-bottom-color: $anchor-font-color;
  }
}

[href^="http://"]:not([href*="davidl.fr"]):after,
[href^="https://"]:not([href*="davidl.fr"]):after {
  font-family: FontAwesome;
  padding-left: rem-calc(5);
  content: "\f08e";
}

.link-reset {
  border-bottom: 0;
  &:hover {
    background-color: transparent;
  }
  &:after {
    content: " " !important;
    padding: 0;
  }
}

label small {
  float: right;
  line-height: $form-label-font-size * 2;
}



.text-large {
  font-size: rem-calc(18);
  margin-bottom: rem-calc(26);
}

.text-medium {
  font-size: rem-calc(16);
  font-weight: $font-weight-normal;
  margin-bottom: rem-calc(24);
}

.text-small {
  font-size: rem-calc(14);
  font-weight: $font-weight-normal;
  margin-bottom: rem-calc(22);
}

.text-tiny {
  font-size: rem-calc(13);
  font-weight: $font-weight-normal;
  margin-bottom: rem-calc(19);
  color: $subheader-font-color;
}
