@mixin truncate($width: 100%) {
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate {
  @include truncate();
}

h1,
h2 {
  letter-spacing: -3px;
}
h3 {
  letter-spacing: -1px;
}
h1,
h2,
h3 {
  @include typl8-hyphens(none);
  @include breakpoint(small only) {
    letter-spacing: 0;
  }
}

*::selection {
  background: rgba($black, 0.1);
}

.ampersand {
  @include typl8-ampersand($typl8-amp-fontface, $typl8-amp-fontfamily);
}

pre {
  *::selection {
    background: rgba($white, 0.6);
  }
}

blockquote {
  font-weight: $global-weight-bold;
  position: relative;

  &:before {
    color: $gray-blue;
    font-family: "FontAwesome";
    content: "\f10d";
    position: absolute;
    top: -30px;
    left: -5px;
    font-size: rem-calc(64);
    opacity: 0.2;
  }
}

.emperor { @extend h1; }
.vador   { @extend h2; }
.maul    { @extend h3; }
.sith    { @extend h4; }
.acolyte { @extend h5; }

a {
  font-weight: $font-weight-black;
  padding: rem-calc(2);
  border-bottom: 1px solid $anchor-color;
  transition: color 100ms, background-color 100ms;
  &:hover {
    background-color: $anchor-color;
    border-bottom-color: $anchor-color;
  }
}

[href^="http://"]:not([href*="davidl.fr"])::after,
[href^="https://"]:not([href*="davidl.fr"])::after {
  font-family: FontAwesome;
  padding-left: rem-calc(5);
  content: "\f08e";
}

.link-reset {
  border-bottom: 0;
  &:hover {
    background-color: transparent;
  }
  &::after {
    content: none !important;
    padding: 0;
  }
}

.text-tiny {
  font-size: rem-calc(13);
  font-weight: $font-weight-normal;
  margin-bottom: rem-calc(19);
  color: $gray-dark;
}
