---
title: Introduction au Chatbot - Lille
description:
image:
page_title: Création d’application conversationnelles
page_emphasis:
---

.row
  .small-12.columns
    markdown:


      HOME OF THE CHATBOT REVOLUTION


      Chatbot Summit Berlin is the second international Chatbot Summit destined to bring together the leading players of the newly formed Chatbot economy.

      Chatbot developers, A.I. and machine learning experts, UX designers, product managers, Chatbot platform and tools providers, startups, investors and industry thought leaders. We are all going to come together in this industry-defining event.

      Great Speaking Sessions. Exciting Panels. Hands-on Sessions. Networking. Partying.
