---
title: 'Coaching développement frontend HTML, CSS & JavaScript'
description:
image:
page_title: 'Coaching & conseils'
page_emphasis: 'Faire grandir votre projet, étape après étape'
changefreq: yearly
priority: 0.6
---

.row
  .medium-5.columns
    = image_tag 'front/work/coaching.jpg', alt: 'Coaching & revue de code developement front-end'
  .medium-7.columns
    markdown:
      ## Comment ça fonctionne ?

      Une session de coaching commence par une __compréhension de vos besoins et de vos objectifs__, suivi par une évaluation des compétences pour voir comment je peux vous aider et vous apporter le plus de valeur.

      Nous __travaillons ensemble__ pour déterminer les meilleurs activités à réaliser pour atteindre vos objectifs personnels et organisationnels. À la fin, nous réalisons une évalution & des “Devoirs à la maison” pour être certain d’aquérir vos nouvelles compétences.

      ## Discutons-en !

      Expliquez-moi dès aujourd’hui, quel problème je pourrais résoudre. Je peux vous aider en partageant mon expérience avec votre équipe.

    = link_to 'Contactez–moi', "mailto:#{data.settings.social.email}", class: 'button secondary'

.row
  .medium-12.columns
    .row.small-up-1.medium-up-3
      .columns
        markdown:
          ### Pair programming
          2 cerveaux valent mieux qu’un particulièrement quand on travaille sur un problème difficile. Je peux vous aider à découvrir les points complexes et les problèmes __avant que le code se retrouve en production__.
      .columns
        markdown:
          ### Organisation du code
          Si votre base de code devient de plus en plus __difficile à maintenir__, j’utiliserai mon expérience en construction d’application web pour vous remettre sur le droit chemin.
      .columns
        markdown:
          ### Méthode de travail
          Beaucoup de tâches en développement front-end sont répétitives & compliquées. Je peux vous aider à mettre en place des outils — comme un [styleguide](http://flexbox.github.io/foundation-boilerplate/) — pour automatiser les tests, la construction & le déployement.

.row
  .medium-12.columns.text-center
    a class="button large" href="https://airtable.com/shryVoJ3nzyeq2P4s" Work
