---
title: Introduction au Growth hacking - Lille
description:
image:
page_title: Votre vie numérique en pilote automatique grâce au Growth Hacking
page_emphasis:
---

.row
  .small-12.columns
    markdown:
      https://www.growthhacking.fr/t/la-toolbox-du-growth-hacker/9188



      API automation

      - [IFTTT](https://ifttt.com/discover)
      - [Zapier](https://zapier.com/app/explore)
      - [Blockspring](https://www.blockspring.com/)


      Personne n’est né en sachant scrapper

      Tout le monde a envie de scrapper parce que c’est bon et ça donne de la data assez rapidement

      L’idée c’est que tous ceux qui veulent apprendre à scrapper ou automatiser n’importe quelles actions, puissent le faire simplement et rapidement.

      Ex: Créer un script qui permet de se connecter à Linkedin, lancer une recherche et ensuite scrapper tous les résultats de la recherche.
      J’ai vraiment essayé de faire le maximum de commentaires dans les vidéos et dans les codes sources.
