---
title: Introduction au Growth hacking - Lille
description:
image:
page_title: Votre vie numérique en pilote automatique grâce au Growth Hacking
page_emphasis: Les meilleures techniques de pour accélérer votre croissance
---

.row
  .medium-10.medium-centered.columns
    markdown:
      Le __growth hacking__ est un buzzworld utilisé dans l’informatique depuis plusieurs années. La compétition marketing est rude, et les développeurs qui lançaient leur produits se sont demandés commenet obtenir plus de conversions. En possédant la connaissance technique il est aisé d'inventer de nouvelles méthodes provenant du monde des hackers.

      Il est très difficile de devenir un vrai growth hacker car la communauté est souvent réticente à inviter de nouveaux membres. Les meilleurs hacks sont conservés secrètement et les propriétaires d'entreprises essaient de les révéler de toutes les manières possibles. Si vous êtes dirigeant, commercial, ou marketer à la recherche de résultats rapides pour votre croissance vous devez gardez un oeil sur la hype du growth hacking et ses tendences.

      > Personne n’est né en sachant scrapper

      Tout le monde a envie de scrapper parce que c’est bon et ça donne de la data assez rapidement.

      L’idée c’est que tous ceux qui veulent apprendre à scrapper ou automatiser n’importe quelles actions, puissent le faire simplement et rapidement.

      _Exemple_ : Créer un script qui permet de se connecter à Linkedin, lancer une recherche et ensuite scrapper tous les résultats de la recherche.

.row
  .medium-10.medium-centered.columns
    markdown:
      ## API automation

      - [IFTTT](https://ifttt.com/discover)
      - [Zapier](https://zapier.com/app/explore)
      - [Blockspring](https://www.blockspring.com/)

      toolbox-du-growth-hacker
