---
title: Introduction au Growth hacking - Lille
description:
image:
page_title: Votre vie numérique en pilote automatique grâce au Growth Hacking
page_emphasis: Les meilleures techniques pour accélérer votre croissance
---

.row
  .medium-10.medium-centered.columns
    p.typl8-drop-cap
      'Le <strong>growth hacking</strong> est un buzzworld utilisé dans l’informatique depuis plusieurs années.
      'La compétition marketing est rude, et les développeurs qui lançaient leur produits se sont demandés commenet obtenir plus de conversions.
      'En possédant la connaissance technique il est aisé d'inventer de nouvelles méthodes provenant du monde des hackers.

    markdown:
      Il est très difficile de devenir un vrai growth hacker car la communauté est souvent réticente à inviter de nouveaux membres.
      Les meilleurs hacks sont conservés secrètement et les propriétaires d'entreprises essaient de les révéler de toutes les manières possibles.
      Si vous êtes dirigeant, commercial, ou marketer à la recherche de résultats rapides pour votre croissance vous devez gardez un oeil sur la hype du growth hacking et ses tendences.

      > Personne n’est né en sachant scrapper
      >
      > — Ra’s al Ghul

      Tout le monde veut __scrapper__, car les robots c'est cool et ça donne beaucoup de données rapidement.
      Dans la vie je passe mon temps à automatiser toutes mes actions, pour que d’autres puissent le faire simplement et rapidement.
      Si vous souhaitez apprendre à scrapper cela devient de plus en plus accessible.

      _Exemple_ : Créer un script qui permet de se connecter à Linkedin, lancer une recherche et ensuite scrapper tous les résultats de la recherche pour récupérer leur email.

section.m-section
  .row
    .medium-10.medium-centered.columns
      markdown:
        ## 🚀 Lancement de produit

        [Producthunt](https://www.producthunt.com/) est connu comme étant l'__un des meilleurs endroits__ pour promouvoir un nouvel outil ou produit.
        La partie difficile est d’obtenir beaucoups de upvotes de façon organique.

        Votre produit peut devenir populaire parmi les “hunters” immédiatement. Mais parfois, les gens trouvent certains outils ennuyeux — sans réelle raison.

      .row
        .medium-8.medium-centered.columns
          = image_tag 'front/product-hunt-david-leuliette.png', alt: 'Growth Hacking on product Hunt par David Leuliette'
          p: em Lancement de l’entreprise de Elon Musk

      markdown:
        Les employés de chez [KickAssGrowth](http://kickassgrowth.com/) recommandent de créer une landing page seulement pour les Producthunt hunters.

        __Comment ?__ Par exemple, si vous lancez un générateur de site web de niche, essayez de créer une landing page avec des cas d'utilisation accrocheurs, sans code (avec votre outil, bien sûr) et soumettez-le à la section [Web Producthunt](https://www.producthunt.com/topics/web) (un excellent exemple est Builtwithoutcode).

section.m-section
  .row
    .medium-10.medium-centered.columns
      markdown:
        ## 🤖 Automatisation des API

        Pour automatiser vos actions, utiliser des robots et connecter différentes applications web, j’utilise principalement ces outils :

        - [IFTTT](https://ifttt.com/discover)
        - [Zapier](https://zapier.com/app/explore)
        - [Blockspring](https://www.blockspring.com/)

        _Exemple_ : La [gestion de projets en pilote automatique](https://medium.com/@flexbox/project-management-for-hackers-3bdcaf03dece) en connectant Typeform et Trello avec Zapier.

section.m-section
  .row
    .medium-10.medium-centered.columns
      markdown:
        ## 📝 Medium & Twitter Hack

        [Medium](medium.com) possède plus de 80 millions de visiteurs unique par mois.

        Avec une stratégie d’inbound marketing vous pouvez bénéficier de cette communauté afin de ramener du traffic ciblé vers votre site internet / produit.

        Si vous connectez votre compte Twitter avec Medium, Medium "forcera" tous vos followers Twitter à vous suivre. Même si vous déconnectez votre compte Twitter, vos followers resteront ! Répétez cette technique quelques fois avec différents comptes Twitter et vous obtiendrez un tas de followers facilement.

        Essayez maintenant !


section.m-section
  .row
    .medium-10.medium-centered.columns
      markdown:
        ## 📺 Youtube Hack

        [Youtube](https://www.youtube.com/) est une chaîne d'acquisition de clients très forte depuis de nombreuses années. Si vous voulez exister sur ce media, il vous faut des abonnés. Cependant, il n'est pas si facile de les acquérir… sauf si vous connaissez ce hack.

        Vous savez déjà que vous devez le maximum de visibilité pour votre chaine, mais saviez-vous qu'en ajoutant simplement `?sub_confirmation=1` lors du partage de votre lien, vous pouvez augmenter le nombre de vos abonnés ?

      .row
        .medium-6.medium-centered.columns
          = image_tag 'front/youtube-growth-hack.png', alt: 'Win youtube subscriber with Growth Hacking'

      p Ce code fonctionne vraiment, vous pouvez partager votre URL avec un public pertinent et augmenter rapidement votre nombre d’abonnés !

section.m-section
  .row
    .medium-10.medium-centered.columns
      markdown:
        ## 👔 Prospection en autopilot

        En tant que Growth Hacker, mon travail est d’identifier et d’__automatiser les tâches sans valeure ajoutée__. À l’aide d’un copywriting de qualité, j'utilise différents services pour générer rapidement des données ciblées.

        - [prospect.io](https://prospect.io/) - Plateforme automatisant la gestion de leads
        - [hunter.io](https://hunter.io/) — Trouver tous les emails associé à un nom de domaine

section.m-section.l-light
  .row
    .medium-10.medium-centered.columns.text-center
      markdown:
        ## Booster votre croissance
        Je peux vous aider le temps d’une journée ou plus.
      a class="typeform-share button secondary" href="https://flexbox.typeform.com/to/yzVxhi" data-mode="popup" target="_blank" Réserver un Growth Hacker
