---
title: Consultant developpeur Front-end à Lille
description:
image:
page_title: Développer votre application web de façon agile
page_emphasis: 'Conseils pour le développement d’applications web, méthodes de travail collaboratif & design évolutif'
changefreq: yearly
priority: 0.8
---

section
  .row
    .medium-8.medium-centered.columns
      markdown:
        ## /dev
        Je suis développeur web avec une expertise dans les __technologies front-end__.

        - [git](/dev/git.html)
        - [setup](/dev/setup.html)
        - [sublime](/dev/sublime.html)
        - [toolkit](/dev/tools.html)

      section.m-section
        markdown:
          ## /design

          - [Typographie](/design/typography.html)
          - [Responsive webdesign 101](/design/webdesign.html)
          - [Sketchnoting](https://www.flickr.com/photos/geekgrunge/albums/72157644681767590)

      section.m-section
        markdown:
          ## /learn

          - [Formations](/learn/formations.html)
          - ~~[Growth-Hacking](/learn/growth-hacking.html)~~
          - ~~[Chatbots]()~~
          - [Newsletter](/learn/newsletter.html)

      section.m-section
        markdown:
          ## [/workflow](/workflow/)

          - [Coaching](/workflow/coaching.html)
          - [SOS](/workflow/sos.html)
          - [Work](/workflow/work.html)

    .row
      .medium-8.medium-centered.columns
        h3 I give talks too!
        ul.m-blog--post-list
          - data.achievements.talks.each do |talk|
            li
              em
                time.text-tiny
                  = talk.date
              strong
                => talk.website
                => talk.lang
              = link_to talk.title, talk.url, class: 'm-post--link'
              hr

section.m-section
  .row.text-center
    .medium-10.medium-centered.columns
      markdown:
        ## Curieux d’en apprendre plus ?
        Découvez comment je __respecte les standards du web__ en créant des __solutions évolutives__.

      = link_to 'À propos', '/about.html', class: 'button'
