---
title: Question générales sur la licence GNU GPL
description: "Le contenu de ce site, ainsi que son code source, sont publiés sous licence GNU"
page_title: 404
page_emphasis: "Il n'y a rien à voir ici"
changefreq: yearly
priority: 0
---

- content_for :javascripts do
  = javascript_include_tag 'front/glitch'

.row
  .medium-12.columns
    h2 PUSSY
    canvas id="canvas"
      '404
