---
title: La page demandée est introuvable
layout: error_layout
---

.m-topbar role="banner"
  .m-topbar--form
    = link_to '← Homepage', data.settings.site.url

.error-wrapper
  .error-content
    h1.error--title data-text="404 Not Found" 404 Not Found
    h2.error--emphasis Sorry, this page does not exist anymore 😢
    p
      = link_to 'Go home', data.settings.site.url, class: 'button-cta'
      'or
      = link_to 'read the blog', '/blog/'
