---
title: Développeur front-end en freelance entre Lille, Bruxelles et Londres
description: Anciennement intégrateur web, j’ai monté de niveau et j’exerce le métier de développeur front-end dans le Nord Haut de France entre Lille, Paris et Bruxelles
page_title: "Designer & développeur"
page_emphasis: "Mon nindo est d’apprendre quelque chose de nouveau chaque jour"
---

- content_for :javascripts do
  = javascript_include_tag 'front/about'

section.section style="margin-top: 0;"
  .row.align-center
    .medium-10.columns
      .row.align-middle
        .medium-3.columns
          .m-photo-album
            = image_tag 'front/windows-95.jpg', alt: 'Windows 95 party', title: 'Lancement de windows 95'
        .medium-9.columns
          markdown:
            ## Mon histoire

            J’ai découvert internet en 1998 à l’époque du 56k, de Caramail et de Lycos. Je n’ai rien râté depuis, grâce à un système de veille efficace, ma persévérance et ma passion.

            Je vis à Lille, dans le nord de la France. Mon travail ? Coder des [features](https://confluence.atlassian.com/bitbucket/workflow-for-git-feature-branching-814201830.html) pour rendre le monde meilleur à travers un __web plus libre__, __plus rapide__ et à __l’épreuve du temps__.

      section.section
        .row.align-middle
          .medium-3.columns
            .m-photo-album
              = image_tag gravatar_for(data.settings.social.email), alt: 'Portrait David Leuliette Aperture Science', title: 'Design basé sur la science'
          .medium-9.columns
            markdown:
              ### Jour après jour

              - Découverte de nouveaux produits.
              - Recherches sur l’__expérience utilisateur__.
              - Croquis et brainstroming.
              - __Prototypage d’interfaces__.
              - Tests d’utilisabilité.
              - Codage HTML / CSS (Généralement avec un préprocesseur comme Sass) correctement architecturé et évolutif.
              - Tout cela en étroite collaboration avec les ingénieurs et les graphistes.


      .row.align-middle
        .medium-3.columns
          .m-photo-album
            = image_tag 'front/sublime-macosx.jpg', alt: 'David Leuliette travaille sur un environement UNIX', title: 'Sublime text on Mac OS X'
        .medium-9.columns
          markdown:
            ### Architecte front-end

            Je suis __programmeur__ ayant une vaste expérience en codage, __designer__ par passion, curieux intellectuellement, et dans la vie je donne le meilleur de moi même pour une chose :

            > Résoudre de réels problèmes pour les utilisateurs finaux

            Je développe en conservant la performance à l’esprit – parce que sur internet, comme dans la vraie vie, le temps c’est de l’argent.


section.section.l-light
  .row.align-center
    .medium-10.columns
      h2 Compagnons
      .row
        .medium-6.columns
          h3
            = fa 'fa-html5 fa-fw text-html'
            'HTML5
          p
            'Les <strong>standards du Web sont importants</strong>, et j'y adhère. Plus précisément, je valide que mon marquage respecte HTML5.
          h3
            = fa 'fa-css3 fa-fw text-css'
            'CSS3
          p
            'Si vous rencontrez un problème de mise en page dans votre navigateur, vous utillisez probablement un navigateur <strike>de merde</strike> qui ne supporte pas les standards du web.
          h3
            = fa 'fa-jsfiddle fa-fw text-js'
            'JavaScript
          p
            'Pour donner des interactions à vos pages il est de nos jours indispensable d'utiliser du JavaScript.
            br
            'Je suis également fondateur
            = link_to 'du groupe chtiJS', 'http://chtijs.francejs.org/'
            '.
        .medium-6.columns
          h3 Terminal
          p Je déploie mes applications web grâce à git.
          = image_tag 'front/init-npm-install.gif', alt: 'Node package manager install'
          br
          br
          p
            em
              'Je travaille exclusivement avec un terminal et
              => link_to 'd’autres outils du XXIème siècle', '/dev/tools.html'
              'pour coder de façons sérieuse et évolutive.

section.section
  .row.align-center
    .medium-10.columns
      h2 Compétences
      .row
        .medium-8.columns
          .row
            .medium-6.columns
              #js-svg-skills
            .medium-6.columns
              ul data-pie-id="js-svg-skills"
                li data-value="60" HTML
                li data-value="50" Sass
                li data-value="20" JavaScript
                li data-value="12" Git
                li data-value="32" Ruby
          p
            'Voir la
            => link_to 'progression en temps réél', 'https://github-profile-summary.com/user/flexbox'
            'ou le classement
            = link_to 'GitHub awards', 'http://github-awards.com/users/search?login=flexbox'

        .medium-4.columns
          .callout.text-center
              p.lead Obtenir mon curriculum vitæ
              p Envie d’en savoir plus sur mon parcours et mes compétences ?
              p
                i.fa.fa-4x.fa-file-pdf-o
              = link_to '/assets/davidleuliette-cv.pdf', class: 'button secondary', target: '_blank' do
                span Télécharger mon CV
                i.fa.fa-external-link

section.section.l-light
  .row
    .medium-12.columns
      h2 Ma philosophie ? évolution et partage
  .row
    .medium-6.columns
      h3 Une conception durable
      p
        => link_to 'La scalability', 'http://fr.wikipedia.org/wiki/Scalability'
        'au sens large est devenu depuis quelques temps un impératif dans le monde du multi-écran.
      p
        'Convaincu depuis des années de l’importance du <strong>respect des standards</strong>, des contraintes d'accessibilité, du <a href="https://github.com/flexbox/">mouvement open source</a>, je propose de vous aider dans le choix de technologies durables.
      p
        'Des solutions souvent simples, tournées vers l'avenir, qui ne font que renforcer la cohérence de ma démarche.

    .medium-6.columns
      h3 Dialogue
      p
        'L’échange, l’écoute et le partage dans l'industrie du développement web me parait un point essentiel. Un dialogue clair, sans artifices, est sans doute le meilleur moyen de travailler ensemble.
      = image_tag 'front/takeoff-conf-2014.jpg', alt: 'David Leuliette Takeoff conf 2014'
      p
        em Takeoff conf 2014
      p
        'Vous l’avez compris, ma plus grande satisfaction est celle des utilisateurs. La course à la notoriété n’est rien à côté des rencontres enrichissantes que je provoque en participant aux nombreux événements organisés par la communauté.

section.section.secondary
  .row
    .medium-6.columns
      h2
        = fa 'fa-trophy  fa-fw subheader'
        'Récompenses
      markdown:
        Vainqueur des open du web #3 : [catégorie intégration](http://blog.open-du-web.fr/2012/12/les-gagnants-repartent-en-trottinette/)

        Être mentionné sur un site de référence comme [sitepoint.com](http://www.sitepoint.com/compass-sass-jquery-javascript/)

        Recevoir la bénédiction de [@kaelig](https://twitter.com/kaelig/status/499820330488459265), auteur de css-maintenables.fr

        Certifié [digital active](http://davidl.fr/assets/davidleuliette-certification-google.pdf) par Google

        Member of [sketchnote army](http://sketchnotearmy.com/blog/2016/8/17/100-days-across-south-america-lima-to-ushuaia-david-leuliett.html)
    .medium-6.columns
      h2
        = fa 'fa-microphone fa-fw subheader'
        'Interviews
      - data.achievements.interviews.each do |interview|
        p
          => link_to interview.website, interview.url
          em
            time.text-tiny = interview.date
          br
          = interview.title

section.section.l-light
  .row.align-center
    .medium-10.columns
      h2 Où peut-on me trouver sur internet ?
      = partial 'layouts/social'
