= javascript_include_tag 'http://ws-eu.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&MarketPlace=FR&ID=V20070822%2FFR%2Fdavidl-21%2F8005%2F70cb9cc8-59eb-4edd-b5eb-599d7a7a732f'

.row
  .medium-12.columns
    h1 Bibliothèque
