---
title: Gérer les retours clients en agence web
description: Comment gagner du temps et améliorer son travail avec des clients capricieux.
page_title: La règle d’or d’une remarque efficace
page_emphasis: Comment donner des commentaires <i>vraiment utile</i>
page_class: m-good-practice
---

section.section
  .row
    .medium-10.medium-centered.columns
      p.vador.text-center
        'Si quelque chose ne fonctionne pas,
        strong
          'dites-nous pourquoi et nous le corrigerons.
        br
        'Nous voulons mériter notre argent.

section.section.l-light
  .row
    .medium-10.medium-centered.columns
      .section
        h2.text-center.sith Règles générales pour des retours efficaces
      .row
        .medium-6.columns
          h3
            = fa 'fa-fw fa-thumbs-o-up'
            'Merci
            span de faire
          markdown:
            __• FAIRE__
            N'hésitez pas à _critiquer négativement_ les choses que vous n’aimez pas.
            Si vous ne nous dites pas ce que vous pensez qui ne fonctionne pas, nous allons vous montrer encore et encore la même chose.

            __• FAIRE__
            Signaler et aller le plus possible dans le détail, pour _nous dire pourquoi_ vous sentez que quelque chose ne fonctionne pas.

            Plus que quoi que ce soit, votre raisonnement est essentiel pour résoudre le problème.

            __• FAIRE__
            Parler de vos objectifs et de vos priorités pour le projet.

            __• FAIRE__
            Nous dire pourquoi nous sommes trompés sur certains choix de conception et les décisions de développement nous avons faites.

            Une partie du processus est d’identifier ces failles.

            __• FAIRE__
            Limiter le nombre de personnes participant au cycle de retours _au plus petit nombre possible_ – C'est plus rapide, les informations sont plus succinctes.


        .medium-6.columns
          h3
            = fa 'fa-fw fa-thumbs-o-down'
            'Merci de
            span ne pas faire
          markdown:
            __• NE PAS FAIRE__
            Maquetter des dessins ou des modifications à nos conceptions dans Photoshop, Word, ou tout autre programme. Cela est
            contre productif car nous devons rétro-ingénierer le tout pour trouver ce que vous essayez de résoudre.

            Résultat : Perte de temps et d'argent.

            __• NE PAS FAIRE__
            Donner des solutions, parce que ces informations de préconisation doivent également êtres déballées, et rétro-ingénérés pour arriver à la vraie question.

            - Mauvais → “Déplacez le bouton de twitter sur la gauche.”
            - Mieux → “Nous voulons plus d'importance sur les outils de partage de médias sociaux.”

            __• NE PAS FAIRE__
            Oublier que vous avez embauché des experts en design et développement.

            Votre travail consiste à être l’expert de l’entreprise.

section.section
  .row
    .medium-10.medium-centered.columns
      h2.text-center Vous souhaitez travailler de façon efficace ?
      .text-center
        = link_to 'https://flexbox.typeform.com/to/yzVxhi', class: 'button secondary typeform-share', 'data-mode' => 'popup', target: '_blank' do
          'Contactez moi
