---
title: CV developpeur front-end & intégrateur web Lille
description: Découvrez mon parcours et mes compétences résumées dans ce curriculum vitae.
page_title: Je m’engage à bâtir un meilleur web
page_emphasis: Pourquoi vous devez m’embaucher
changefreq: yearly
priority: 1
---

.row
  .medium-8.columns.m-blog--article
    markdown:
      Une question est souvent posée lors des entretien d’embauche : quelles sont vos compétences et quel est votre parcours ?

      Je trouve que poser cette question —souvent stressante, n’a aucun sens puisque dans 80% des cas les compétences requises sont apprises __pendant le travail__. Sérieusement, la seule chose que j’ai retenu de mes années universitaires est que __vous devez apprendre à apprendre__. La technologie évolue. Photoshop ne sera pas éternellement le meilleur outil. Les langages de programmation et les plates formes de développement évoluent — comme la mode.

      Il ne faut pas avoir peur de lire / regarder / écouter et créer. Apprendre à apprendre est la seule compétence __qui me sera utile à vie__.

      Mais ce n’est pas la réponse attendue. Généralement un recruteur s’attend à avoir la présentation d’une liste de compétences, d’expériences professionnelles, de diplômes obtenus, ou encore les cours suivis.

      > Il n’existe aucune règle qui vous oblige à décrire ce que vous faites en un seul mot
      >
      > Ryan Singer

      Pour répondre correctement aux personnes travaillant dans le monde du recrutement voici la liste de mes compétences et de mes acquis. Officiellement je suis __analyste programmeur__ et __concepteur intégrateur web__. J’ai obtenu mes dipômes suite à des études d’informatique, mais j’ai vraiment appris mon métier de façon autodidacte au cours de mes [nombreuses lectures](/books.html) et de mes [projets open-source](https://github.com/flexbox/).

      ## Les bases

      ### Fondamentaux du design

      L’appréciation, la compréhension, la création d’interfaces présentées de façon claire, simple et compréhensible est assez facile si l’on respecte certaines règles de mise en forme, de hiérarchie, de couleur, d’illustration, de typographie… Je ne suis pas graphiste, mais je pense appartenir à la grande famille des créatifs.

      ### Informatique

      Actuellement, je suis incapable de programmer en C++ ou en Java, mais je maîtrise les bases de la programmation ainsi que l’utilisation de systèmes basé sur UNIX (Linux et Mac OS). J’ai choisi le parcours universitaire DUT & licence PRO pour les projets concrets et les stages réalisés en alternance. De plus, je pense qu’à notre époque il est vital de __maitriser son outil de production__, autant savoir comment le réparer soi-même.

      Curieux de nature, c’est grâce à mes études d’informatiques que j’ai développé ma culture de “hacker”. Je suis curieux de comprendre, de déconstruire, de remettre en question la technologie, les systèmes, le fonctionnement du monde, etc.
      Au centre me mes intérêts, il y a le logiciel libre, la culture du partage, la collaboration, la volonté de faire de belles choses et de rester dans le concret.

      ### UI / UX

      Tout comme il faut apprendre à apprendre, pour être efficace __vous devez travailler votre travail__, garder un “plan de conception” à l’esprit, en faisant des recherches, en créant des prototypes et des itérations pour trouver une solution. La clef est de réussir à __identifier et comprendre__ les besoins du client, pour créer un processus de conception qui répondra à son besoin.

      ## Le contexte est roi

      ### Histoire du design web

      Quelles sont les tendances, les évènements, les contextes historiques qui façonnent notre perception du design ? Quelles sont les différences en fonction des générations ou des cultures ? Dans mon cas pour répondre à ces questions je suis simplement curieux et j’observe le monde qui m’entoure. J’ai aussi une veille active à travers différents médias : podcast, flux rss, newsletter & réseaux sociaux.

      ### Psychologie cognitive et perception

      Quand je développe des produits c’est généralement à destination d’utilisateurs finaux. Il est interéressant de savoir comment le cerveau fonctionne, comment nous apprenons et retenons les choses ? Pourquoi créer un site internet accessible est-ce important ? Quelle est la signification des couleurs ?
      Je ne suis absolument pas expert, mais j’ai lu 2  3 livres à ce sujet.

      ### Statistiques

      Si vous construisez quelque chose d’évolutif, vous allez forcément arriver à un point de rupture où __prendre des décisions basées sur des chiffres__, [apporte énormément de valeur](http://www.wired.co.uk/news/archive/2014-09/04/building-the-new-wired-website-landing-pages). Il est passionnant d’étudier les statistiques, l’organisation et la présentation des données.

      Pour cela j’ai quelques bases de probabilités, d’étude de corrélation par rapport à la causalité, les intervalles de confiance, l’inférence, ainsi qu’un aperçu sur la façon de construire des modèles et faire des prédictions sur des bases de données. C’est très utile dans mon quotidien. Cela aide la prise de décisions fondées sur la compréhension : Comment les gens utilisent notre produit et comment peut-on l’améliorer.

      ### Visualisation et métaphores

      Savoir interpréter et communiquer des sujets complexes au travers d’infographies est une compétence importante. Surtout si vous travaillez dans des secteurs comme la finance, la santée, le commerce où il existe énormément de données disponibles, pour convaincre vous devez présenter ces informations de manière élégante.

      Je compare souvent le développement d’un site web à la construction d’une maison, pour expliquer des concepts abstraits aux personnes ne connaissant pas la technique.

      ### Marketing / Communication

      Comment communiquer avec ses utilisateurs, gérer une communauté, provoquer l’engagement dans le but d’attirer les personnes vers les produits que l’on construit ? Dans mon cas je publie des [articles sur mon blog](/blog/), partage mes connaissances sur Twitter et je rédige une [newletter sur le développement front-end](/learn/newsletter.html).

      ## Mes super-pouvoirs

      ### Communiquer et parler en public

      Dans une autre vie j’ai obtenu mon BAFA spécialité spectacle et expression. Capter l’attention d’enfants de 6 ans n’est pas si différent que d’intéresser des adultes. Dès que j’en ai la possibilité, je prends la parole en public lors d’évènements, ou de formations, pour partager mes connaissances (succès comme échecs).

      ### Dessiner ses idées

      Fréquenter les beaux arts pendant 5 années m’a appris à transformer une idée abstraite en réalisant des croquis ou des storyboards conceptuels clairs et simples. Ce processus m’aide à mieux analyser mes conceptions, et communiquer plus facilement avec les autres.

      ### Travailler en équipe

      En tant que développeur front-end je suis généralement la colonne vertébrale des projets. Toute l’équipe gravite autour de mon travail, consultant SEO, développeurs back-end, graphistes, product owner…

      Une grande partie de ma profession est de __collaborer avec d’autres__ pour __identifier et résoudre les problèmes__ en répondant à ces questions :

      - Quelle est l’organisation pour se répartir le travail ?
      - Comment décidons-nous de ce qu’il faut faire si il y a des opinions divergentes autour de la salle ?
      - Où se situe la valeur pour le client de notre produit ?

      ### Critique / partager des informations de retours

      Le but est d’être honnète, critique, et d’aider à résoudre les problèmes.

      > Il est toujours plus utile de proposer des solutions plutôt que de donner son avis personnel.

      ### Entreprendre

      J’aime construire des choses en dehors de mon travail quotidien. C’est un exercice intéressant qui permet de me remettre en question et de tester de nouveaux concepts en suivant la doctrine de [Léonard de Vinci](http://webcitation.davidl.fr) : “Le secret est de continuer à créer, même après plusieurs échecs”.

      Je participe volontiers à divers Hackathon, pour tester de nouvelles choses ou répondre à ces questions :

      - Comment savoir sur quoi il faut travailler afin de faire la différence pour les personnes ciblées ?
      - Comment dimensionner un marché ?
      - Comment prioriser entre une douzaine d’idées qui ont l’air bien sur le papier ?
      - Comment choisir une technologie & analyser l’impact sur les personnes.

      ## Développer ma créativité

      La créativité est un muscle qu’il faut entretenir.

      Je lis énormément de livres ou de blogs qui ne sont pas liés à la conception ou à la technologie. Le but est d’utiliser mon cerveau droit pour développer de meilleurs processus de création. Dès que j’en ait l’occasion j’essaye de __créer du contenu__ :

      - Écriture
      - Photographie
      - Design et bricolage d’intérieur
      - Montage de film
      - …

      Je n’ai pas suivi d’études d’art généralistes mais ces différents domaines m’intéressent, et la bonne nouvelle c’est qu’apprendre n’est pas quelque chose qui se termine à la fin des études. Je conseille souvent de commencer par lire des livres, et compléter par des cours en ligne.

      ## En conclusion

      Même si l’on peut me ranger dans la case des designer, des barbus qui utilisent un terminal, je me concentre aussi sur l’écriture. Je pense qu’un mot est __la meilleure interface utilisateur__. Donc quand j’écris, je fais du design.

      > Mon objectif est de donner envie aux visiteurs de lire votre site internet.
      >
      > <cite>David Leuliette</cite>

      Pourquoi ? car 95 % de l’information disponible sur internet est du texte.

  .medium-4.columns
    div data-magellan-expedition="fixed"
      .callout.text-center
        p.lead Obtenir mon curriculum vitæ
        p Envie d’en savoir plus sur mon parcours et mes compétences ?
        p
          i.fa.fa-4x.fa-file-pdf-o
        = link_to '/assets/davidleuliette-cv.pdf', class: 'button secondary', target: '_blank' do
          'Télécharger
          br
          'mon CV
          i.fa.fa-external-link

        = link_to 'http://resume.github.io/?flexbox', class: 'button secondary', target: '_blank' do
          'Télécharger
          br
          'mon CV GitHub
          i.fa.fa-external-link

      .callout.text-center
        p.lead Certification Google
        p
          'J’ai validé avec succès la formation les fondamentaux du
          br
          strong marketing digital
        p
          i.fa.fa-4x.fa-file-pdf-o
        = link_to '/assets/davidleuliette-certification-google.pdf', class: 'button primary', target: '_blank' do
          'Télécharger
          br
          'ma certification
          i.fa.fa-external-link
