---
title: CV Architecte front-end à Lille
description: Découvrez mon parcours et mes compétences résumées dans ce curriculum vitae.
page_title: Développeur front-end
changefreq: yearly
priority: 0.5
---

.row
  .small-8.small-centered.columns
    = link_to 'Télécharger mon CV', '/assets/davidleuliette-cv.pdf', class: 'button large expand animate'
