---
title: Formation HTML CSS ruby et développement frontend Lille
description: "Workshop d’un consultant développeur front-end, qui partage son expértise en intégration HTML, développement avec Ruby, Sass et CoffeScript."
page_title: Formation
page_emphasis: Apprendre à construire des systèmes modulaires
changefreq: monthly
priority: 0.6
---

.row
  .medium-10.medium-centered.columns
    - data.courses.each_with_index do |date|
      h2.text-center.emperor => date.year
      hr
      - date['content'].each do |course|
          .row
            .medium-3.columns
              h3
              p.text-tiny
                => course.provider
                br
                => course.place
            .medium-9.columns
              h3
                = course.title
              p
                = course.description
                br
                - if course['url'].present?
                  = link_to 'Consulter le programme', course.url
      hr

section.m-section
  .row
    .medium-10.medium-centered.columns
      h2.text-center Embauchez moi en tant que formateur
      .text-center
        = link_to '/contact.html', class: 'button secondary' do
          'Contact &nbsp;&nbsp;&nbsp;
          i.fa.fa-pencil
