---
title: 'GitClub : Quelles sont les règles d’un message de commit ?'
description: Pourquoi un bon message de commit est important et comment éviter le désordre
page_title: Les règles du GitClub
page_emphasis: 'Gardez à l’esprit : tout a été dit auparavant'
page_class: m-good-practice
changefreq: monthly
priority: 0.6
---

.row
  .meidum-10.columns
    .l-title
      p.gamma.i-rounded.light 1
      h2
        'La première règle du GitClub est qu’on
        strong> parle du bienfait d’un bon message
        'de commit
    .l-title
      p.gamma.i-rounded.light 2
      h2
        'La deuxième règle du GitClub est qu’on
        strong> PARLE du bienfait d’un bon message
        'de commit

    section.m-section--inverse
      .row
        .medium-8.columns
          p
            'Vous souhaitez avoir une introduction à git & GitHub ? Assister en live à l’application de ces règles ?
        .medium-4.columns
          = link_to 'Programme de formation GitHub', 'http://courses.davidl.fr/programs/git-github.html', class: 'button small'

    .l-title
      p.gamma.i-rounded.light 3
      h2
        'La troisième règle est
        strong> séparez le sujet du contenu
        'avec une ligne
    .l-title
      p.gamma.i-rounded.light 4
      h2
        'La quatrième règle,
        strong> limitez la taille du sujet
        'à 50 caractères
    .l-title
      p.gamma.i-rounded.light 5
      h2
        'La cinquième règle,
        strong> majuscule au début du sujet
    .l-title
      p.gamma.i-rounded.light 6
      h2
        'La sixième règle,
        strong> aucune date n’est nécessaire
        'dans le sujet
    .l-title
      p.gamma.i-rounded.light 7
      h2
        'La septième règle,
        strong utilisez le mode impératif
    .l-title
      p.gamma.i-rounded.light 8
      h2
        'Règle numéro huit,
        strong enveloppez le contenu à 72 caractères
    .l-title
      p.gamma.i-rounded.light 9
      h2
        'Règle numéro neuf, utilisez
        strong> le contenu pour expliquer quoi et pourquoi,
        'et non comment
    .l-title
      p.gamma.i-rounded.light 10
      h2
        'La dernière règle, un bon message est
        strong rédigé en Anglais

      markdown:
        - - -

        Pour aller plus loin :

        - [chris.beams.io](http://chris.beams.io/posts/git-commit/)
        - [A note avout commit message](http://tbaggery.com/2008/04/19/a-note-about-git-commit-messages.html)
