---
title: Question générales sur la licence GNU GPL
description: Le contenu de ce site, ainsi que son code source, sont publiés sous licence GNU
page_title: GNU GPL — FAQ
page_emphasis: Comprendre simplement les licences sur le logiciel libre
changefreq: yearly
priority: 0
---

section.section
  .row.align-center
    .medium-8.columns
      markdown:
        ## En quelques mots

        ### Vous êtes libres

        - D'inclure la même licence avec vos travaux dérivés
        - D'inclure une licence comme la MIT, BSD ou [d'autres licences similaires](http://choosealicense.com/). Vous pouvez consulter la liste des [licences compatibles avec GNU](https://www.gnu.org/licenses/license-list.fr.html)

        ### Vous devez publier

        - Cette licence aux utilisateurs
        - Vos travaux dérivés pour les utilisateurs avec le “code source” (exemple : un lien vers ce site)

        ### Acheter une licence commerciale

        - Pour montrer votre soutient à la communauté
        - Pour contribuer au développement de ce site
        - Si vous voulez vendre un contenu commercial et ne voulez pas publier vos travaux dérivés

        ## Questions fréquentes et réponses

        ### GNU GPL ? Qu'est ce que cela signifie ?

        Cela signifie que les utilisateurs seront toujours autorisés à utiliser cette licence, et même à en changer, selon les termes de la GPLv2.
        Pour plus d'information vous pouvez consulter [la FAQ de la GPL](http://www.gnu.org/licenses/gpl-faq.html).

        ### Je souhaite distribuer le contenu gratuitement. Suis-je autorisé à le faire ?

        Oui, vous pouvez et je vous encourage à le faire. Cela fait partie du logiciel libre. Pour cela vous devez lire la section correspondante sur le site [GNU](http://www.gnu.org/philosophy/selling.html).
