---
title: Mentions légales
page_title: Mentions légales
changefreq: yearly
priority: 0
---

.row
  .medium-8.medium-centered.columns
    markdown:

      ## Propriété du site

      Vous êtes actuellement connecté au site web davidl.fr. Le nindô du propriétaire est le logiciel libre, les sources appartiennent donc à tout le monde et à personne.

      ## [Licence](/gnu.html)

      Le contenu est sous licence [GNU](http://www.gnu.org/philosophy/free-sw.html). Vous êtes libre de __copier, diffuser, remixer ou pirater__ ce site, à condition de me distribuer une copie modifiée pour __bénéficier à tous__.

      ## Crédits Photographiques

      Les photos libres de droits viennent du [site de Markus Spiske](http://www.raumrot.com/10/).

      ## Directeur de la publication

      Loi du 29 juillet 1982 sur l’audiovisuel, loi 2000-79 du 1er août 2000.

      Monsieur David Leuliette, en qualité d'administrateur, développeur front-end et sauveur du monde de niveau 2.

      ## Hébergement

      Loi du 1er août 2000 articles 43-8 à 43-10.

      GitHub

