---
title: Travailler avec moi
description: DavidL, responsive designer et développpeur. J'aide les personnes à mieux comprendre les technologies associées au front-end.
page_title: Consultant Architecte Front-end
changefreq: weekly
priority: 0.9
---

.row
  .small-8.small-centered.columns
    = link_to 'Demander un rendez '
