---
title: Plan du site
description: "Retrouvez les liens vers les pages importantes du site. Vous cherchez un lien vers les projets open-source d’un développeur front-end ? Découvrez également ma méthode de travail et les outils que j’utilise."
page_title: Plan du site
page_emphasis: Retrouvez toutes les pages et les rubriques du site.
changefreq: monthly
priority: 0
---

.row
  .medium-8.medium-centered.columns
    p.drop-cap
      'J’ai créé un bon nombre de pages web pour enseigner aux visiteurs les bonnes pratiques du développement front-end. Pour vous aider à trouver ce que vous cherchez, j’ai organisé ces pages en groupes.

    hr
    markdown:
      ## [Blog d’un développeur / designer front-end](/blog/)

      Sur mon blog, vous trouverez des articles sur le développement front-end, l'informatique, le hacking et le design en général. Mes langages préférés : JavaScript, HTML5, CSS3 et Ruby.

      - - -

      ### Contenu du site

      Découvrez tous mes essais en accès libre.

    ul
      = tree_to_html data.tree

    section.m-section.text-center
      h2 En savoir plus sur moi
      p Découvrez plus d’informations sur les technologies que j’utilise, mes lectures, mes compétences et mes langages de programmation de prédilection.
      = link_to 'À propos', '/about.html', class: 'button secondary'
