---
title: "Apprendre à coder un site internet"
description: Apprenez à coder
page_title: Les offres de parainage que je recommande
page_emphasis: Un système gagnant-gagnant
changefreq: monthly
priority: 0.6
---


markdown:

  Grâce à David, bénéficiez de 30€ de réduction sur l'achat de cette track !

  ## Codez votre premier site web

  Créez et designez votre site avec HTML/CSS et Bootstrap. Mettez-le en ligne, configurez votre nom de domaine et suivez votre traffic sur Google Analytics.
  http://bit.ly/1IAMjKX

  ## Deviens développeur front-end

  http://bit.ly/1BDE1ow


  ## Organisez vos projets


  Evernote Prenium offert pendant 1 mois

  Evernote
  https://www.evernote.com/referral/Registration.action?sig=20b14c77343018bd4f93762fc9fae90d&uid=22499360

