---
title: Merci
description: "Le contenu de ce site, ainsi que son code source, sont publiés sous licence GNU"
page_title: Merci beaucoup !
page_emphasis: J’ai bien reçu votre demande
changefreq: yearly
priority: 0
---

.row
  .medium-8.medium-centered.columns
    p.lead Je vais recevoir votre question par email et je m’engage à y répondre dans les meilleurs délais.

    markdown:
      ![Thank you gif](http://media.giphy.com/media/9yGa9mD2gyUnu/giphy.gif)

      En attendant vous pouvez vous [inscrire à la newsletter](/newsletter.html), ou consulter mes dernier [articles de blog sur le développement front-end](/blog/).




