---
title: Optimiser l'accessibilité et la lisibilité des webfont avec du CSS
description:
page_title: Typographie & CSS
page_class: m-homepage
changefreq: monthly
priority: 0.6
---

.row
  .medium-8.medium-centered.columns
    P.drop-cap
      'Ces dernières années, il ya eu énormément de progrès concernant la typographie web. Mais si vous souhaitez sublimer votre expérience de lecture il existe certains point que vous pouvez améliorer.

    markdown:
      ## Avant de commencer

      - Largeur des paragraphes : aujourd'hui le gros problème sur les sites concerne la largeur des paragraphes. Il sont beaucoup trop longs. `max-width: 40em` est une excellente base pour rendre le texte plus lisible.

      - [Crénage](http://kerningjs.com/) : peut être utilisé pour serrer / desserrer les caractères.
      ![Une animation de texte avec le script kerningjs](https://lh3.googleusercontent.com/-S3P-AF5-7Bc/VG83DBWq2TI/AAAAAAAAAOc/z823eIPmpPA/w449-h300-no/typography.gif)

      - Ligature : fusionner 2 caractères pour n'en former qu'un, peut être [modifiée en CSS](https://developer.mozilla.org/fr/docs/Web/CSS/letter-spacing).

      ~~~ css
        p { letter-spacing: 0.4em }
      ~~~

      - `-webkit-font-smoothing: subpixel-antialiased` peut parfois obstruer les lettres en particulier sur OSX.

      - `-webkit-font-smoothing: antialiased` peut fonctionner, mais attention à ne pas l'utiliser sur des polices de petite taille.

      - `text-rendering: optimizeLegibility` avec cette seule ligne vous pouvez corriger instantanément les 2 problèmes précédemment cités et améliorer la typographie sur le web.

      Si tout le monde appliquait ces simples conseils, la lecture sur le web en serait meilleure.

.row
  .medium-12.medium-centered.columns.text-center
      h2 7 Conseils pour une meilleure typographie
      hr

.row
  .medium-8.medium-centered.columns
      markdown:
        NB : Tout ces conseils sont donnés par le [typographe Erik Spiekermann](http://fontfeed.com/archives/erik-spiekermanns-typo-tips/), j'ai simplement adapté ses propos au monde de l'intégration CSS.

        ### 1. L'erreur de la majuscule

        Ne JAMAIS utiliser de majuscules pour accentuer les mots dans une phrase.

        Elles ressortent beaucoup trop et gâchent le rythme de la colonne ou de la page. _Utilisez l'italique_ en remplacement. Si vous devez définir des mots en majuscules, utilisez [les petites capitalisations](http://typeplate.com/#small-caps) appropriés avec ou sans majuscule, avec la balise `abbr`.

.row
  .medium-6.columns
      .alert-box.info
        'Exemple d'abréviation
      p
        'Lorem ipsum dolor sit amet, consectetur HTML adipisicing elit. CSS Laboriosam voluptatem a beatae accusantium accusamus dolor provident error consectetur quibusdam suscipit neque temporibus. Velit omnis voluptatum quasi tempora reiciendis expedita reprehenderit.
  .medium-6.columns
      .alert-box.success
        i.fa.fa-thumbs-o-up
        'Bonne solution
      p
        'Lorem ipsum dolor sit amet, consectetur <abbr title="hyper text markup language">HTML</abbr> adipisicing elit. <abbr title="cascading styling sheets">CSS</abbr> Laboriosam voluptatem a beatae accusantium accusamus dolor provident error consectetur quibusdam suscipit neque temporibus. Velit omnis voluptatum quasi tempora reiciendis expedita reprehenderit.

.row
  .medium-6.columns
      .alert-box.info
        'Exemple d'utilisation de l'italique
      p
        'La simplicité est uniquement simple quand quelqu'un a SUPPRIMÉ TOUTE LA COMPLEXITÉ.
  .medium-6.columns
      .alert-box.success
        i.fa.fa-thumbs-o-up
        'Bonne solution
      p
        'La simplicité est uniquement simple quand quelqu'un a
        em supprimé toute la complexité.

.row
  .medium-8.medium-centered.columns
      markdown:
        ### 2. Connexions
