---
title: Vidéo trucs et astuces développeur web front-end
description:
page_title: Boxsizing
page_class: m-homepage
changefreq: monthly
priority: 0.6
---

.row
  .medium-10.medium-centered.columns
    markdown:
      ## Trucs & astuces pour les designers / développeurs front-end
      1. [Maîtriser les raccourcis GitHub]() pour gagner du temps.
    - 100.times do
      br
