---
title: "La toolbox du developpeur front-end / intégrateur web - Outils"
description: Pour travailler efficacement un artisan a besoin de bons outils. C’est la même chose pour la programation web. Voici une sélection d’application macOS indispensables à tout dev front-end
page_title: Les meilleures applications pour développeurs front-end
page_emphasis: Cette liste rassemble tous les outils pour être efficace sur macOS
---

section.section
  .row.align-center
    .medium-12.columns
      markdown:
        __Note :__ J'ai publié un [Mindmapping des applications macOS](https://github.com/flexbox/macos-front-end) que j'utilise sur GitHub car la maintenace est plus rapide.
      h2 Dev
      .row.small-up-1.medium-up-2
        - data.tools.dev.each do |tool|
          .columns
            = link_to tool.url, class: 'callout-link' do
              .callout
                .row
                  .small-4.columns
                    = image_tag "front/tools/#{tool.image}", alt: "Logo #{tool.name}"
                  .small-8.columns
                    h3
                      = tool.name
                    p
                      = tool.description

section.section.l-light
  .row.align-center
    .medium-12.columns
      h2 Design
      .row.small-up-1.medium-up-2
        - data.tools.design.each do |tool|
          .columns
            = link_to tool.url, class: 'callout-link' do
              .callout
                .row
                  .small-4.columns
                    = image_tag "front/tools/#{tool.image}", alt: "Logo #{tool.name}"
                  .small-8.columns
                    h3 = tool.name
                    p = tool.description

section.section
  .row.align-center
    .medium-12.columns
      h2 Divers
      .row.small-up-1.medium-up-2
        - data.tools.misc.each do |tool|
          .columns
            = link_to tool.url, class: 'callout-link' do
              .callout
                .row
                  .small-4.columns
                    = image_tag "front/tools/#{tool.image}", alt: "Logo #{tool.name}"
                  .small-8.columns
                    h3 = tool.name
                    p = tool.description
